<template>
     <div>
        <div class="row">
            <div class="col l-12 m-12 c-12">
                 <breadcrumb></breadcrumb>
            </div>
        </div>
        <div class="row">
            <div class="col l-12 m-12 c-12">
                <div class="cart-page">
                    <table>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Giá</th>
                            <th>Xóa</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="cart-info">
                                    <img src="https://product.hstatic.net/1000026716/product/dm8xxy_633efb36a8b44c89bdc6a1acd0e7efea_large.jpg" alt="">
                                    <div>
                                        <p>Chuot Gaming co day Asus</p>
                                        <small>Gia: 1.050.000d</small>

                                    </div>
                                </div>
                            </td>
                            <td><input type="number" value="1"></td>
                            <td>2.200.00đ</td>
                            <td>
                                <a href="">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cart-info">
                                    <img src="https://product.hstatic.net/1000026716/product/dm8xxy_633efb36a8b44c89bdc6a1acd0e7efea_large.jpg" alt="">
                                    <div>
                                        <p>Chuot Gaming co day Asus</p>
                                        <small>Gia: 1.050.000d</small>

                                    </div>
                                </div>
                            </td>
                            <td><input type="number" value="1"></td>
                            <td>2.200.00đ</td>
                            <td>
                                <a href="">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cart-info">
                                    <img src="https://product.hstatic.net/1000026716/product/dm8xxy_633efb36a8b44c89bdc6a1acd0e7efea_large.jpg" alt="">
                                    <div>
                                        <p>Chuot Gaming co day Asus</p>
                                        <small>Gia: 1.050.000d</small>

                                    </div>
                                </div>
                            </td>
                            <td><input type="number" value="1"></td>
                            <td>2.200.00đ</td>
                            <td>
                                <a href="">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div class="total-price">
                        <table>
                            <tr>
                                <td>Thuế</td>
                                <td>2.000.000d</td>
                            </tr>
                            <tr>
                                <td>Giảm giá</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>Tổng tiền</td>
                                <td>1.800.000d</td>
                            </tr>
                        </table>
                    </div>
                    <div class="cart-btn">
                        <button class="cart-btn__update">Cập nhật</button>
                        <button class="cart-btn__checkout">Thanh toán</button>

                    </div>
                </div>
            </div>

        </div>


    </div>
</template>