<template>
     <div>
        <div class="row">
            <div class="col l-12 m-12 c-12">
                <breadcrumb></breadcrumb>
            </div>
        </div>
        <div class="row">


            <div class="col l-12 m-12 c-12">

                <div class="page-login">
                    <h3 class="page-login__heading">Đăng ký</h3>
                </div>
                <form action="">
                    <div class="row form-login__group">
                        <div class="col l-6 m-12 c-12">
                            <label for="" class="page-login__label">Họ:</label>
                            <input type="text" class="page-login__input">
                        </div>
                        <div class="col l-6 m-12 c-12">
                            <label for="" class="page-login__label">Tên:</label>
                            <input type="text" class="page-login__input">
                        </div>
                    </div>
                    <div class="row form-login__group">
                        <div class="col l-6 m-12 c-12">
                            <label for="" class="page-login__label">Email</label>:
                            <input type="text" class="page-login__input">
                        </div>
                        <div class="col l-6 m-12 c-12">
                            <label for="" class="page-login__label">Mật khẩu:</label>
                            <input type="text" class="page-login__input">
                        </div>
                    </div>
                    <div class="row form-login__group">
                        <div class="col l-6 m-12 c-12">
                            <label for="" class="page-login__label">SĐT:</label>
                            <input type="text" class="page-login__input">
                        </div>
                    </div>
                    <div class="row form-login__group">
                        <div class="col l-6 m-12 c-12">
                            <button type="submit" class="page-login__btn">Đăng ký</button>
                        </div>
                    </div>
                    <div class="row form-login__group">
                        <div class="col l-12 m-12 c-12">
                            <div class="page-login__social">
                                <p class="page-login__socia-title">Hoặc đăng nhập bằng</p>
                                <a href="" class="page-login__social-link-fb">
                                    <i class="fab fa-facebook-f"></i> Facebook
                                </a>
                                <a href="" class="page-login__social-link-gg">
                                    <i class="fab fa-google-plus-g"></i> Google
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</template>