<template>
     <div>
        <div class="row">
            <div class="col l-12 m-12 c-12">
                <breadcrumb></breadcrumb>
            </div>
        </div>
        <div class="row">
            <div class="col l-12 m-12 c-12">
                <div class="card-wrapper">
                    <div class="card">

                        <!-- card left -->
                        <div class="product-imgs">
                            <div class="img-display">
                                <div class="img-showcase">
                                    <img src="https://product.hstatic.net/1000026716/product/nitro5_an515-56_bl1_rgb-bk_01b_a1e32795b316477abb2f75cc7349dfda.png" alt="shoe image">
                                    <img src="https://product.hstatic.net/1000026716/product/nitro5_an515-56_bl1_rgb-bk_04c_456bf344468c4c048ebef2cdab48461c.png" alt="shoe image">
                                    <img src="https://product.hstatic.net/1000026716/product/nitro5_an515-56_bl_rgb-bk_07_d0bd6721ce7440569323ba6a59c2acc7.png" alt="shoe image">
                                    <img src="https://product.hstatic.net/1000026716/product/nitro5_an515-56_bl_rgb-bk_02d_7656ff1832144d86893d6070dae92573.png" alt="shoe image">

                                </div>
                            </div>
                            <div class="img-select">
                                <div class="img-item">
                                    <a href="#" data-id="1">
                                        <img src="https://product.hstatic.net/1000026716/product/nitro5_an515-56_bl1_rgb-bk_01b_a1e32795b316477abb2f75cc7349dfda.png" alt="shoe image">
                                    </a>
                                </div>
                                <div class="img-item">
                                    <a href="#" data-id="2">
                                        <img src="https://product.hstatic.net/1000026716/product/nitro5_an515-56_bl1_rgb-bk_04c_456bf344468c4c048ebef2cdab48461c.png" alt="shoe image">
                                    </a>
                                </div>
                                <div class="img-item">
                                    <a href="#" data-id="3">
                                        <img src="https://product.hstatic.net/1000026716/product/nitro5_an515-56_bl_rgb-bk_07_d0bd6721ce7440569323ba6a59c2acc7.png" alt="shoe image">
                                    </a>
                                </div>
                                <div class="img-item">
                                    <a href="#" data-id="4">
                                        <img src="https://product.hstatic.net/1000026716/product/nitro5_an515-56_bl_rgb-bk_02d_7656ff1832144d86893d6070dae92573.png" alt="shoe image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- card right -->
                        <div class="product-content">
                            <h2 class="product-title">Laptop gaming Acer Nitro 5 AN515 56 51N4</h2>
                            <a href="#" class="product-link">Acer</a>
                            <div class="product-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span>4.7(21)</span>
                            </div>

                            <div class="product-price">
                                <p class="last-price">Giá cũ: <span>21.000.000đ</span></p>
                                <p class="new-price">Giá mới: <span>19.990.000đ (5%)</span></p>
                            </div>

                            <div class="product-detail">
                                <h2>Thông tin chung: </h2>
                                <ul>
                                    <li><i class="fas fa-check-circle"></i>Nhà sản xuất: <span>Acer</span></li>
                                    <li><i class="fas fa-check-circle"></i>Xuất xứ: <span>Trung Quốc</span></li>
                                    <li><i class="fas fa-check-circle"></i>Bảo hành: <span>Chính hãng</span></li>
                                    <li><i class="fas fa-check-circle"></i>Tình trạng: <span>Mới 100%</span></li>
                                    <li><i class="fas fa-check-circle"></i>Màu sắc: <span>Đen/đỏ</span></li>
                                </ul>
                                <h2>Ưu đãi đặc biệt: </h2>
                                <p>Mua thêm 1 thanh RAM Sodimm 8GB chỉ với 990.000</p>
                                <p>Mua kèm màn hình giảm sốc lên đên 49% </p>
                            </div>

                            <div class="purchase-info">
                                <input type="number" min="0" value="1">
                                <button type="button" class="btn">
                                            Mua hàng 
                                            <i class = "fas fa-shopping-cart"></i>
                                        </button>
                                <button type="button" class="btn">So sánh</button>
                            </div>

                            <div class="social-links">
                                <p>Chia sẻ: </p>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l-12 m-12 c-12">
                <div class="tab-content">
                    <input id="tab1" type="radio" name="tabs" checked>
                    <label for="tab1">Mô tả</label>
                    <input id="tab2" type="radio" name="tabs">
                    <label for="tab2">Đánh giá</label>
                    <input id="tab3" type="radio" name="tabs">
                   
                    <section id="content1">
                       <h4>Thông số kỹ thuật:</h4>
                       <table>
                           <tr>
                               <td>CPU</td>
                               <td>AMD Ryzen R7-4800H 2.9GHz up to 4.2GHz, 8 cores 16 threads</td>
                           </tr>
                               <tr>
                               <td>RAM</td>
                               <td>8GB DDR4 3200MHz (2x SO-DIMM socket)</td>
                           </tr>
                            <tr>
                               <td>Card đồ họa</td>
                               <td>NVIDIA Geforce GTX 1650 4GB GDDR6</td>
                           </tr>
                            <tr>
                               <td>Màn hình</td>
                               <td>15.6 inch FHD (1920 x 1080) IPS, Non-Glare, 144Hz AdaptiveSync, Nanoedge</td>
                           </tr>
                           <tr>
                               <td>Bàn phím</td>
                               <td>4 Zone RGB</td>
                           </tr>
                           <tr>
                               <td>Audio</td>
                               <td>Smart AMP technology</td>
                           </tr>
                           <tr>
                               <td>Đọc thẻ nhớ</td>
                               <td>None</td>
                           </tr>
                           <tr>
                               <td>Cổng giao tiếp</td>
                               <td>1x Type C USB 3.2 Gen 1 with Power Delivery and Display Port <br>
                                    3x USB 3.2 Gen 1 Type-A <br>
                                    1x 3.5mm Combo Audio Jack <br>
                                    1x HDMI 2.0b
                                    </td>
                            </tr>
                            <tr>
                                <td>Hệ điều hành</td>
                                <td>Window 10 Home</td>
                           </tr>
                              <tr>
                                <td>Pin</td>
                                <td>4 Cell 56WHrs</td>
                           </tr>
                           <tr>
                               <td>Trọng lượng</td>
                               <td>2.1 kg</td>
                           </tr>
                       </table>
                    </section>
                    <section id="content2">
                      <h4>Gửi đánh giá</h4>
                      <input type="text" class="tab-content__input" placeholder="Vui lòng nhập Email">
                      <textarea name="" id="" cols="30" rows="10"></textarea>
                        <button class="tab-content__btn">Gửi đánh giá</button>
                    </section>
                  
                </div>
            </div>
        </div>



        <div class="row">
            <div class="product-trend__brand grid__full-width ">
                <h3 class="product-trend__brand-title">
                    Sản phẩm cùng loại
                </h3>

            </div>
            <div class="product-list">
                <div class="row">
                    <div class="col l-3 m-4 c-6">
                        <div class="product-item ">
                            <div class="product-item__img ">
                                <img src="https://product.hstatic.net/1000026716/product/gearvn-chuot-razer-basilisk-ultimate-ban-khong-dock-sac-35_8e6bcc3ad6dd45bb9b3af39e2d164359_large.jpg " alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>

                            <div class="product-item__sales ">
                                <span class="product-item__sales-percent ">-15%</span>
                            </div>
                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-shopping-bag "></i>
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-3 m-4 c-6">
                        <div class="product-item ">

                            <div class="product-item__img ">
                                <img src="https://product.hstatic.net/1000026716/product/g913-tkl-wireless_d797df2d3e01485ab3baad39a1040cd3_large.png " alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>

                            <div class="product-item__sales ">
                                <span class="product-item__sales-percent ">-15%</span>
                            </div>
                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-shopping-bag "></i>
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-3 m-4 c-6">
                        <div class="product-item ">

                            <div class="product-item__img ">
                                <img src="https://product.hstatic.net/1000026716/product/tai-nghe-gaming-kho_ng-da_y-havit-tw938_1__c4cecc43a6f1422ea53b640e48b5ae9f_large.jpg " alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>


                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-shopping-bag "></i>
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-3 m-4 c-6">
                        <div class="product-item ">

                            <div class="product-item__img ">
                                <img src="http://mauweb.monamedia.net/broshop/wp-content/uploads/2019/03/mbp13-silver-select-201610.jpg " alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>

                            <ul class="product-item__action">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-shopping-bag "></i>
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
           
            </div>
        </div>
    </div>

</template>
<style scoped>
.tab-content table{
     width: 100%;
}
.tab-content tabel,tr,td{ 
    border: 1px solid #eeeeee;
    padding: 0 15px;
     height: 40px;
}
.tab-content td:first-child{
    width: 27%;
    background-color: #f7f7f7;
    font-weight: 600;
}
.tab-content__input
{

    width: 100%;
    height: 40px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    outline: none;
    padding: 0 15px;
}
.tab-content__input:focus,
.tab-content textarea:focus{
    border-color: #6666;
}
.tab-content textarea{
    width: 100%;
    margin: 15px 0;
     border: 1px solid #eeeeee;
    border-radius: 3px;
    outline: none;
    padding: 5px 15px;
}
.tab-content__btn{
    width: 120px;
    height: 40px;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    line-height: 40px;
    border: none;
    outline: none;
    float: right;
    border-radius: 2px;
}
.tab-content__btn:hover{
    opacity: 0.9;
}
.tab-content {
  background: #FFF;
  margin: 50px auto;
  padding: 10px 30px 80px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}
.tab-content p {
  font-size: 13px;
}
.tab-content input[type=radio], section {
  clear: both;
  padding-top: 10px;
  display: none;
}
.tab-content label {
  font-weight: bold;
  font-size: 14px;
  display: block;
  float: left;
  padding: 10px 30px;
  border-top: 2px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #DDD;
}
.tab-content label:hover {
  cursor: pointer;
  text-decoration: underline;
}
.tab-content #tab1:checked ~ #content1, .tab-content #tab2:checked ~ #content2, .tab-content #tab3:checked ~ #content3, .tab-content #tab4:checked ~ #content4 {
  display: block;
}
.tab-content input:checked + label {
  border-top-color:var(--primary-color);
  border-right-color: #DDD;
  border-left-color: #DDD;
  border-bottom-color: transparent;
  text-decoration: none;
}
</style>