<template>
     <div class="breadcrumb">
        <a href="" class="breadcrumb__page-parent">Trang chủ</a>
        <span>/</span>
        <a href="" class="breadcrumb__page-child">Sản phẩm</a>
    </div>
</template>