<template>
 <footer class="footer">
        <div class="footer-body ">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-3 m-5 c-7">
                        <h3 class="footer-body__heading ">Thông tin</h3>
                        <ul class="footer-body__list ">
                            <li class="footer-body__item ">
                                <a href="/about" class="footer-body__link ">
                                    Giới thiệu công ty
                                </a>
                            </li>
                            <li class="footer-body__item ">
                                <a href=" " class="footer-body__link ">
                                  Hệ thống các siêu thị
                                </a>
                            </li>
                            <li class="footer-body__item ">
                                <a href="/news" class="footer-body__link ">
                                    Tin tức
                                </a>
                            </li>
                            <li class="footer-body__item ">
                                <a href=" " class="footer-body__link ">
                                   Tuyển dụng
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-3 m-5 c-7">
                        <h3 class="footer-body__heading ">Hỗ trợ khách hàng</h3>
                        <ul class="footer-body__list ">
                            <li class="footer-body__item ">
                                <a href=" " class="footer-body__link ">
                                    Liên hệ góp ý
                                </a>
                            </li>
                            <li class="footer-body__item ">
                                <a href=" " class="footer-body__link ">
                                  Hướng dẫn mua hàng
                                </a>
                            </li>
                            <li class="footer-body__item ">
                                <a href=" " class="footer-body__link ">
                                    Hướng dẫn mua trả góp
                                </a>
                            </li>
                            <li class="footer-body__item ">
                                <a href=" " class="footer-body__link ">
                                   Quy chế quản lý tuyển dụng
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-3 m-5 c-7">
                        <h3 class="footer-body__heading ">Chính sách mua hàng</h3>
                        <ul class="footer-body__list ">
                            <li class="footer-body__item ">
                                <a href=" " class="footer-body__link ">
                                   Quy định, chính sách
                                </a>
                            </li>
                            <li class="footer-body__item ">
                                <a href=" " class="footer-body__link ">
                                 Chính sách đổi trả
                                </a>
                            </li>
                            <li class="footer-body__item ">
                                <a href=" " class="footer-body__link ">
                                    Giao hàng và lắp đặt
                                </a>
                            </li>
                            <li class="footer-body__item ">
                                <a href=" " class="footer-body__link ">
                                  Chính sách hội viên
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-3 m-5 c-7">
                        <h3 class="footer-body__heading ">Liên hệ</h3>
                        <ul class="footer-body__list ">
                            <li class="footer-body__item ">
                                <a href=" " class="footer-body__link ">
                                    <i class="footer-body__link-icon fas fa-map-marker-alt "></i>Tầng 2, 288 Nguyễn Trãi, Ninh Kiều, Cần Thơ
                                </a>
                            </li>
                            <li class="footer-body__item ">
                                <a href=" " class="footer-body__link ">
                                    <i class="footer-body__link-icon fas fa-phone "></i>Tổng đài hỗ trợ: 1900.9999
                                </a>
                            </li>
                            <li class="footer-body__item ">
                                <a href=" " class="footer-body__link ">
                                    <i class="footer-body__link-icon fas fa-calendar-week "></i>Từ 8h00 - 22h00 T2 - CN
                                </a>
                            </li>
                            <li class="footer-body__item ">
                                <a href=" " class="footer-body__link ">
                                    <i class="footer-body__link-icon fas fa-envelope "></i>nmthuanst@gmail.com
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom__wrap grid wide ">
                <span class="footer-bottom__copyright ">&copy; Copyright Nguyễn Minh Thuận</span>
                <div class="footer-bottom__payment ">
                    <span class="footer-bottom__payment-title ">Phương thức thanh toán:</span>
                    <a href=" " class="footer-bottom__payment-link ">
                        <img src="https://bizweb.dktcdn.net/100/119/255/themes/833679/assets/payment.png?1630459471331 " alt=" ">
                    </a>
                </div>
            </div>
        </div>
     
      
    </footer>
  
    <!-- Script -->
   
  
 
</template>

