<template>
  <header class="header">
        <div class="grid wide">
            <div class="header-with-search">
                <label for="mobile-search-checkbox" class="header__mobile-search">
                    <i class="header__mobile-search-icon fas fa-search"></i>
                </label>
                <div class="header__logo hide-on-tablet">
                    <a href="/" class="header__logo-link">
                        <img src="//bizweb.dktcdn.net/100/119/255/themes/833679/assets/logo.png?1630459471331" alt="logo ">
                    </a>
                </div>
                <input type="checkbox" hidden id="mobile-search-checkbox" class="header__search-checkbox">
                <div class="header__search">
                    <div class="header__search-input-wrap">
                        <input type="text" class="header__search-input" placeholder="Tìm kiếm sản phẩm...">
                        <div class="header__search-history">
                            <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
                            <ul class="header__search-history-list">
                                <li class="header__search-history-item">
                                    <a href="">Laptop Gaming</a>
                                </li>
                                <li class="header__search-history-item">
                                    <a href="">Tay cầm Xbox 360</a>
                                </li>
                                <li class="header__search-history-item">
                                    <a href="">Tai nghe Bluetooth</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button class="header__search-btn-options">
                        Tất cả
                        <i class="header__search-btn-options-icon fas fa-sort-down"></i>
                        <ul class="header__search-option-list">
                            <li class="header__search-option-item">
                                <a href="" class="header__search-option-link">Kỹ thuật số</a>
                            </li>
                            <li class="header__search-option-item">
                                <a href="" class="header__search-option-link">Laptop</a>
                            </li>
                            <li class="header__search-option-item">
                                <a href="" class="header__search-option-link">Điện gia dụng</a>
                            </li>
                            <li class="header__search-option-item">
                                <a href="" class="header__search-option-link">Điện lạnh</a>
                            </li>
                            <li class="header__search-option-item">
                                <a href="" class="header__search-option-link">Máy tính và laptop</a>
                            </li>
                            <li class="header__search-option-item">
                                <a href="" class="header__search-option-link">Điện tử & công nghệ</a>
                            </li>
                        </ul>
                    </button>
                    <button class="header__search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="header__user hide-on-mobile-tablet ">
                    <a href="" class="header__user-icon-link">
                        <i class="header__user-icon fas fa-user"></i>
                    </a>
                    <div class="header__user-account ">
                        <div class="header__user-auth">
                            <a href="" class="header__user-link text--strong">Tài khoản</a>
                        </div>
                        <div class="header__user-auth">
                            <nuxt-link to="/login" class="header__user-link">
                                Đăng nhập
                            </nuxt-link>   
                            <span>&</span>
                            <nuxt-link to="/sign-up" class="header__user-link">
                                Đăng ký
                            </nuxt-link>   
                        </div>
                    </div>
                </div>
                <div class="header__cart">
                    <nuxt-link to="/cart">
                        <svg style="width: 20px;" class="header__cart-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="155.5 272 267.2 233" enable-background="new 155.5 272 267.2 233" xml:space="preserve">
                            <g>
                                <path
                                    fill="#b0b0b0"
                                    d="M388.5,272H188.1l-32.6,233h267.2L388.5,272z M345,335.7c-4.7,38.8-28,68.3-57.5,68.3
                                                                                        c-29.5,0-52.8-29.5-57.5-68.3c-6.2-3.1-9.3-7.8-9.3-15.5c0-9.3,7.8-17.1,17.1-17.1c9.3,0,17.1,7.8,17.1,17.1c0,6.2-3.1,10.9-7.8,14
                                                                                        c4.7,29.5,21.7,52.8,40.4,52.8c20.2,0,37.3-23.3,40.4-52.8c-4.7-3.1-7.8-7.8-7.8-14c0-9.3,7.8-17.1,17.1-17.1s17.1,7.8,17.1,17.1
                                                                                        C354.3,327.9,351.2,334.2,345,335.7L345,335.7z"
                                ></path>
                            </g>
                        </svg>
                        <p class="header__cart-text">Giỏ hàng</p>
                    </nuxt-link>

                    <span class="header__cart-notice">3</span>
                    <div class="header__cart-list">
                        <h3 class="header__cart-list-heading">Sản phẩm đã mua</h3>
                        <ul class="header__cart-list-item">
                            <a href="">
                                <li class="header__cart-item">
                                    <img src="https://product.hstatic.net/1000026716/product/k3_rgb1_e1cc1e7056fb4113b928b00a412e6713_large.jpg" alt="" class="header__cart-item-img">
                                    <div class="header__cart-item-info">
                                        <div class="header__cart-item-head">
                                            <span class="header__cart-item-name">Tai nghe Bluetooth Razer</span>
                                            <div class="header__cart-item-price-qty">
                                                <span class="header__cart-item-price">2.000.000đ</span>
                                                <span class="header__cart-item-multiply">x</span>
                                                <span class="header__cart-item-qty">2</span>
                                            </div>
                                        </div>
                                        <div class="header__cart-item-body">
                                            <span class="header__cart-item-type">Phân loại: Bạc</span>
                                            <span class="header__cart-item-remove">Xóa</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="header__cart-item">
                                    <img src="https://product.hstatic.net/1000026716/product/hamerhead_x_2_75a17441464640c7a643541b9c1213e1_master_ad030d893e944a20806d6b59eecf47bd_large.png" alt="" class="header__cart-item-img">
                                    <div class="header__cart-item-info">
                                        <div class="header__cart-item-head">
                                            <span class="header__cart-item-name">Tai nghe Bluetooth Razer</span>
                                            <div class="header__cart-item-price-qty">
                                                <span class="header__cart-item-price">2.000.000đ</span>
                                                <span class="header__cart-item-multiply">x</span>
                                                <span class="header__cart-item-qty">2</span>
                                            </div>
                                        </div>
                                        <div class="header__cart-item-body">
                                            <span class="header__cart-item-type">Phân loại: Bạc</span>
                                            <span class="header__cart-item-remove">Xóa</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="header__cart-item">
                                    <img src="https://product.hstatic.net/1000026716/product/hamerhead_x_2_75a17441464640c7a643541b9c1213e1_master_ad030d893e944a20806d6b59eecf47bd_large.png" alt="" class="header__cart-item-img">
                                    <div class="header__cart-item-info">
                                        <div class="header__cart-item-head">
                                            <span class="header__cart-item-name">Tai nghe Bluetooth Razer</span>
                                            <div class="header__cart-item-price-qty">
                                                <span class="header__cart-item-price">2.000.000đ</span>
                                                <span class="header__cart-item-multiply">x</span>
                                                <span class="header__cart-item-qty">2</span>
                                            </div>
                                        </div>
                                        <div class="header__cart-item-body">
                                            <span class="header__cart-item-type">Phân loại: Bạc</span>
                                            <span class="header__cart-item-remove">Xóa</span>
                                        </div>
                                    </div>
                                </li>
                            </a>
                        </ul>
                        <a href="./pages/cart.html" class="header__cart-item-btn">Xem giỏ hàng</a>
                    </div>
                </div>
            </div>

            <div class="bottom-header-wrap">
                <div class="bottom-header-left hide-on-mobile-tablet">
                    <i class="bottom-header-left__icon fas fa-bars"></i>
                    <a href="">
                         Danh mục sản phẩm
                    </a>
                </div>
                <div class="bottom-header-center">

                    <ul class="bottom-header-center__list">
                        <li class="bottom-header-center__item">
                            <nuxt-link to="/" class="bottom-header-center__link">
                                Trang chủ
                            </nuxt-link>                          
                        </li>
                        <li class="bottom-header-center__item">
                            <nuxt-link to="/about" class="bottom-header-center__link">
                                Giới thiệu
                            </nuxt-link>   
                        </li>
                        <li class="bottom-header-center__item">
                            <nuxt-link to="/product" class="bottom-header-center__link">
                                Sản phẩm 
                            </nuxt-link>   
                        </li>
                        <li class="bottom-header-center__item">
                            <nuxt-link to="/news" class="bottom-header-center__link">
                              Tin tức
                            </nuxt-link>   
                        </li>
                        <li class="bottom-header-center__item">
                           <nuxt-link to="/contact" class="bottom-header-center__link">
                                Liên hệ
                            </nuxt-link>   
                        </li>
                        <li class="bottom-header-center__item">
                            <nuxt-link to="/" class="bottom-header-center__link">
                                Hệ thống cửa hàng
                            </nuxt-link>   
                        </li>
                            <span class="login-hide">
                                <li class="bottom-header-center__item">
                                    <nuxt-link to="/login" class="bottom-header-center__link">
                                        Đăng nhập
                                    </nuxt-link>   
                                </li>
                                <li class="bottom-header-center__item">
                                    <nuxt-link to="/sign-up" class="bottom-header-center__link">
                                        Đăng ký 
                                    </nuxt-link>   
                                </li>
                            </span>
                    </ul>
                    <label id="icon">
                        <i class="fas fa-bars"></i>
                    </label>
                </div>
                <div class="bottom-header-right hide-on-mobile-tablet">
                    <i class="fas fa-phone"></i>
                    <span class="bottom-header-right__text">
                        Hỗ trợ:
                        <span class="bottom-header-right__phone">18006750</span>
                    </span>
                </div>
            </div>
        </div>
    </header>

</template>
