<template>
     <div class="home-product grid wide">
        <div class="row">
            <div class="col l-9">
                <h3 class="product-heading ">Laptop</h3>
                <div class="row">

                    <div class="col l-4 m-4 c-6">

                        <div class="product-item ">

                            <div class="product-item__img ">
                                <img src="https://hanoicomputercdn.com/media/product/250_58449_gp76__6_.jpg" alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>
                            <div class="product-item__sales ">
                                <span class="product-item__sales-percent ">-29%</span>
                            </div>

                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                  <nuxt-link to="/detail">
                                            <i class="fa fa-shopping-bag "></i>
                                        </nuxt-link>


                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6">
                        <div class="product-item ">

                            <div class="product-item__img ">
                                <img src="https://hanoicomputercdn.com/media/product/250_58207_laptop_msi_gaming_gf65_thin_10ue_228vn_den_ba_lo_8.png" alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>


                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                  <nuxt-link to="/detail">
                                            <i class="fa fa-shopping-bag "></i>
                                        </nuxt-link>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6">
                        <div class="product-item ">

                            <div class="product-item__img ">
                                <img src="https://hanoicomputercdn.com/media/product/250_58877_laptop_asus_gaming_rog_strix_g533_23.jpg" alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>

                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                   <nuxt-link to="/detail">
                                            <i class="fa fa-shopping-bag "></i>
                                        </nuxt-link>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l-3 m-4 hide-on-tablet">
                <div class="product-selling ">
                    <h3 class="product-selling__heading product-heading ">Laptop bán chạy</h3>
                    <div class="product-selling__wrap ">
                        <img src="https://hanoicomputercdn.com/media/product/250_55873_laptop_msi_gaming_gl65_leopard_10scxk_089vn_den_2020_10.png" class="product-selling__img " alt=" ">
                        <div class="product-selling__info ">
                            <span class="product-selling__name ">Tivi Samsung 28J4100 (28 inch)</span>
                            <span class="product-selling__price-new ">12.000.000đ</span>
                            <span class="product-selling__price-old ">13.500.000đ</span>
                        </div>
                    </div>
                    <div class="product-selling__wrap ">
                        <img src="https://hanoicomputercdn.com/media/product/250_53891_laptop_lenovo_gaming_3_18.png" class="product-selling__img " alt=" ">
                        <div class="product-selling__info ">
                            <span class="product-selling__name ">Tivi Samsung 28J4100 (28 inch)</span>
                            <span class="product-selling__price-new ">12.000.000đ</span>
                            <span class="product-selling__price-old ">13.500.000đ</span>
                        </div>
                    </div>
                    <div class="product-selling__wrap ">
                        <img src="https://hanoicomputercdn.com/media/product/250_53845_laptop_asus_gaming_rog_strix_g512_ial001t_den_10.jpeg" class="product-selling__img " alt=" ">
                        <div class="product-selling__info ">
                            <span class="product-selling__name ">Tivi Samsung 28J4100 (28 inch)</span>
                            <span class="product-selling__price-new ">12.000.000đ</span>
                            <span class="product-selling__price-old ">13.500.000đ</span>
                        </div>
                    </div>

                </div>


            </div>
        </div>

        <div class="row ">
            <div class="col l-9 ">
                <h3 class="product-heading ">Màn hình</h3>
                <div class="row">

                    <div class="col l-4 m-4 c-6 ">
                        <div class="product-item ">
                            <div class="product-item__img ">
                                <img src="https://hanoicomputercdn.com/media/product/250_52912_moms013__5_.jpg" alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>
                            <div class="product-item__sales ">
                                <span class="product-item__sales-percent ">-29%</span>
                            </div>

                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                  <nuxt-link to="/detail">
                                            <i class="fa fa-shopping-bag "></i>
                                        </nuxt-link>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6 ">
                        <div class="product-item ">

                            <div class="product-item__img ">
                                <img src="https://hanoicomputercdn.com/media/product/250_56917_xl2546k__4_.png" alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>

                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                  <nuxt-link to="/detail">
                                            <i class="fa fa-shopping-bag "></i>
                                        </nuxt-link>


                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6 ">
                        <div class="product-item ">
                            <div class="product-item__img ">
                                <img src="https://hanoicomputercdn.com/media/product/250_58238_man_hinh_asus_proart_pa278cv_10.png" alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>


                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                   <nuxt-link to="/detail">
                                            <i class="fa fa-shopping-bag "></i>
                                        </nuxt-link>


                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l-3 m-4 hide-on-tablet">

                <div class="product-selling ">
                    <h3 class="product-selling__heading product-heading ">Màn hình bán chạy</h3>
                    <div class="product-selling__wrap ">
                        <img src="https://hanoicomputercdn.com/media/product/250_59464_man_hinh_aoc_c27g2x_6.jpg" class="product-selling__img " alt=" ">
                        <div class="product-selling__info ">
                            <span class="product-selling__name ">Tivi Samsung 28J4100 (28 inch)</span>
                            <span class="product-selling__price-new ">12.000.000đ</span>
                            <span class="product-selling__price-old ">13.500.000đ</span>
                        </div>
                    </div>
                    <div class="product-selling__wrap ">
                        <img src="https://hanoicomputercdn.com/media/product/250_48981_asus_vg248qg__4_.png" class="product-selling__img " alt=" ">
                        <div class="product-selling__info ">
                            <span class="product-selling__name ">Tivi Samsung 28J4100 (28 inch)</span>
                            <span class="product-selling__price-new ">12.000.000đ</span>
                            <span class="product-selling__price-old ">13.500.000đ</span>
                        </div>
                    </div>
                    <div class="product-selling__wrap ">
                        <img src="https://hanoicomputercdn.com/media/product/250_57179_man_hinh_asus_xg32vc_11.png" class="product-selling__img " alt=" ">
                        <div class="product-selling__info ">
                            <span class="product-selling__name ">Tivi Samsung 28J4100 (28 inch)</span>
                            <span class="product-selling__price-new ">12.000.000đ</span>
                            <span class="product-selling__price-old ">13.500.000đ</span>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</template>