<template>
    <div class="midium-banner">
     <div class="row">

	
        <div class="col l-12">				
             <div class="row">

                <div class="col l-6">
                    <div class="single-banner">
                        <img src="https://via.placeholder.com/600x370" alt="#" />
                        <div class="content">
                            <p>Man's Collectons</p>
                            <h3>
                                Man's items <br />
                                Up to<span> 50%</span>
                            </h3>
                            <a href="#">Shop Now</a>
                        </div>
                    </div>
                </div>

				
        
			
                <div class="col l-6">
                    <div class="single-banner">
                        <img src="https://via.placeholder.com/600x370" alt="#" />
                        <div class="content">
                            <p>shoes women</p>
                            <h3>
                                mid season <br />
                                up to <span>70%</span>
                            </h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                    </div>
                </div>
			
			 </div>
			
              
        </div>
    </div>
</div>

</template>
<style scoped>
    .midium-banner {
        padding: 0;
		margin: 70px 0 40px 0;
    }
    .midium-banner .single-banner {
        position: relative;
    }
    .midium-banner .single-banner img {
        height: 100%;
        width: 100%;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .midium-banner .single-banner .content {
        padding-left: 50px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .midium-banner .single-banner h3 {
        font-size: 27px;
        font-weight: 700;
        text-transform: uppercase;
        color: #333;
        line-height: 30px;
    }
    .midium-banner .single-banner h3 span {
        color: #f7941d;
    }
    .midium-banner .single-banner p {
        font-size: 13px;
        color: #f7941d;
        font-weight: 500;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    .midium-banner .single-banner a {
        display: inline-block;
        font-weight: 600;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 0.375rem 0.75rem;
        font-size: 13px;
        border-radius: 0.25rem;
        background: #333;
        color: #fff !important;
        padding: 10px 27px;
        border-radius: 30px;
        margin-top: 25px;
        text-transform: uppercase;
    }
    .midium-banner .single-banner a:hover {
    background: var(--primary-color);
     text-decoration:none;
     color: #fff;
    }
</style>
