<template>
     <div class="pagination">
                    <ul class="pagination-list">
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link "><i class="fas fa-arrow-left"></i></a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link pagination-item--active">1</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">2</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">3</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link"><i class="fas fa-arrow-right"></i></a>
                        </li>
                    </ul>
        </div>
</template>
<style scoped>
.pagination{
    display: flex;
    justify-content: center;
}
.pagination-list{
    padding-left: 0;
}
.pagination-item{
    list-style: none;
    display: inline-block;
}
.pagination-item__link{
    display: block;
    height: 35px;
    width: 35px;
    background-color: #333;
    font-size: 1.6rem;
    text-align: center;
    line-height: 35px;
    color: #fff;
    text-decoration: none;
}
.pagination-item__link:hover{
    opacity: 0.9;
}
</style>