<template>
    <div class="product-flash-sale">
        <div class="grid wide">
            <div class="row">
                <div class="col l-12">
                    <h3 class="product-heading">Giảm giá</h3>
                    <div class="product-list grid__full-width">
                        <div class="row">
                            <div class="col l-3 m-4 c-6">
                                <div class="product-item">
                                    <div class="product-item__img">
                                        <img src="https://product.hstatic.net/1000026716/product/gearvn.com-products-man-hinh-asus-vp279qgl-27-ips-75hz-1_428ee8e90bf548eba3ce5e1930155365_large.jpg" alt=" " />
                                    </div>

                                    <div class="product-item__info">
                                        <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-new">12.000.000đ</span>
                                            <span class="product-item__price-old">13.500.000đ</span>
                                        </div>
                                    </div>

                                    <div class="product-item__sales">
                                        <span class="product-item__sales-percent">-15%</span>
                                    </div>
                                    <ul class="product-item__action">
                                        <li>
                                            <a href="">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <nuxt-link to="/detail">
                                                <i class="fa fa-shopping-bag"></i>
                                            </nuxt-link>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col l-3 m-4 c-6">
                                <div class="product-item">
                                    <div class="product-item__img">
                                        <img src="https://product.hstatic.net/1000026716/product/gearvn-tai-nghe-gaming-dareu-eh925s-pink-rgb-666_ff9eb8be3df94fc5927285fae3bd1d9a_large.jpg" alt=" " />
                                    </div>

                                    <div class="product-item__info">
                                        <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-new">12.000.000đ</span>
                                            <span class="product-item__price-old">13.500.000đ</span>
                                        </div>
                                    </div>

                                    <div class="product-item__sales">
                                        <span class="product-item__sales-percent">-29%</span>
                                    </div>
                                    <ul class="product-item__action">
                                        <li>
                                            <a href="">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <nuxt-link to="/detail">
                                                <i class="fa fa-shopping-bag"></i>
                                            </nuxt-link>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col l-3 m-4 c-6">
                                <div class="product-item">
                                    <div class="product-item__img">
                                        <img src="https://product.hstatic.net/1000026716/product/08b623fdab1b4ac48536d4ccb68c5986_6adc641abd964fd2810a9010442bfb2f_large.jpeg" alt=" " />
                                    </div>

                                    <div class="product-item__info">
                                        <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-new">12.000.000đ</span>
                                            <span class="product-item__price-old">13.500.000đ</span>
                                        </div>
                                    </div>
                                    <div class="product-item__sales">
                                        <span class="product-item__sales-percent">-12%</span>
                                    </div>

                                    <ul class="product-item__action">
                                        <li>
                                            <a href="">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <nuxt-link to="/detail">
                                                <i class="fa fa-shopping-bag"></i>
                                            </nuxt-link>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col l-3 m-4 c-6">
                                <div class="product-item">
                                    <div class="product-item__img">
                                        <img src="https://product.hstatic.net/1000026716/product/gearvn-ban-phim-co-leopold-fc650m-pd-white-blue-star-8888_618d50b13ba943f5ba7d933c627526b8_large.jpg" alt=" " />
                                    </div>

                                    <div class="product-item__info">
                                        <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-new">12.000.000đ</span>
                                            <span class="product-item__price-old">13.500.000đ</span>
                                        </div>
                                    </div>

                                    <div class="product-item__sales">
                                        <span class="product-item__sales-percent">-9%</span>
                                    </div>

                                    <ul class="product-item__action">
                                        <li>
                                            <a href="">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <nuxt-link to="/detail">
                                                <i class="fa fa-shopping-bag"></i>
                                            </nuxt-link>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
