<template>
    <div class="product-trend">
        <div class="grid wide">
            <div class="row">
                <div class="col l-12">
                    <div class="product-trend__brand">
                        <h3 class="product-trend__brand-title">
                            Sản phẩm nổi bật
                        </h3>
                        <div class="nav-main">
                            <!-- Tab Nav -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#laptop" role="tab">Laptop</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#man-hinh" role="tab">Màn hình</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tai-nghe" role="tab">Tai nghe</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#chuot" role="tab">Chuột</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#ban-phim" role="tab">Bàn phím</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#ghe-gaming" role="tab">Ghế Gaming</a></li>
                            </ul>
                            <!--/ End Tab Nav -->
                        </div>
                    </div>

                    <div class="product-list tab-content" id="myTabContent">
                        <!-- Start single tab -->
                        <div class="tab-pane active" id="laptop" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                                    <div class="col l-3 m-4 c-6">
                                        <div class="product-item">
                                            <div class="product-item__img">
                                                <img src="http://mauweb.monamedia.net/broshop/wp-content/uploads/2019/03/mbp13-silver-select-201610.jpg " alt=" " />
                                            </div>

                                            <div class="product-item__info">
                                                <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                                <div class="product-item__price">
                                                    <span class="product-item__price-new">12.000.000đ</span>
                                                    <span class="product-item__price-old">13.500.000đ</span>
                                                </div>
                                            </div>

                                            <ul class="product-item__action">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <nuxt-link to="/detail">
                                                        <i class="fa fa-shopping-bag"></i>
                                                    </nuxt-link>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col l-3 m-4 c-6">
                                        <div class="product-item">
                                            <div class="product-item__img">
                                                <img src="http://mauweb.monamedia.net/broshop/wp-content/uploads/2019/03/mbp13-silver-select-201610.jpg " alt=" " />
                                            </div>

                                            <div class="product-item__info">
                                                <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                                <div class="product-item__price">
                                                    <span class="product-item__price-new">12.000.000đ</span>
                                                    <span class="product-item__price-old">13.500.000đ</span>
                                                </div>
                                            </div>

                                            <ul class="product-item__action">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <nuxt-link to="/detail">
                                                        <i class="fa fa-shopping-bag"></i>
                                                    </nuxt-link>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col l-3 m-4 c-6">
                                        <div class="product-item">
                                            <div class="product-item__img">
                                                <img src="http://mauweb.monamedia.net/broshop/wp-content/uploads/2019/03/mbp13-silver-select-201610.jpg " alt=" " />
                                            </div>

                                            <div class="product-item__info">
                                                <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                                <div class="product-item__price">
                                                    <span class="product-item__price-new">12.000.000đ</span>
                                                    <span class="product-item__price-old">13.500.000đ</span>
                                                </div>
                                            </div>

                                            <ul class="product-item__action">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <nuxt-link to="/detail">
                                                        <i class="fa fa-shopping-bag"></i>
                                                    </nuxt-link>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col l-3 m-4 c-6">
                                        <div class="product-item">
                                            <div class="product-item__img">
                                                <img src="http://mauweb.monamedia.net/broshop/wp-content/uploads/2019/03/mbp13-silver-select-201610.jpg " alt=" " />
                                            </div>

                                            <div class="product-item__info">
                                                <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                                <div class="product-item__price">
                                                    <span class="product-item__price-new">12.000.000đ</span>
                                                    <span class="product-item__price-old">13.500.000đ</span>
                                                </div>
                                            </div>

                                            <ul class="product-item__action">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <nuxt-link to="/detail">
                                                        <i class="fa fa-shopping-bag"></i>
                                                    </nuxt-link>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col l-3 m-4 c-6">
                                        <div class="product-item">
                                            <div class="product-item__img">
                                                <img src="http://mauweb.monamedia.net/broshop/wp-content/uploads/2019/03/mbp13-silver-select-201610.jpg " alt=" " />
                                            </div>

                                            <div class="product-item__info">
                                                <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                                <div class="product-item__price">
                                                    <span class="product-item__price-new">12.000.000đ</span>
                                                    <span class="product-item__price-old">13.500.000đ</span>
                                                </div>
                                            </div>

                                            <ul class="product-item__action">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <nuxt-link to="/detail">
                                                        <i class="fa fa-shopping-bag"></i>
                                                    </nuxt-link>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col l-3 m-4 c-6">
                                        <div class="product-item">
                                            <div class="product-item__img">
                                                <img src="http://mauweb.monamedia.net/broshop/wp-content/uploads/2019/03/mbp13-silver-select-201610.jpg " alt=" " />
                                            </div>

                                            <div class="product-item__info">
                                                <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                                <div class="product-item__price">
                                                    <span class="product-item__price-new">12.000.000đ</span>
                                                    <span class="product-item__price-old">13.500.000đ</span>
                                                </div>
                                            </div>

                                            <ul class="product-item__action">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <nuxt-link to="/detail">
                                                        <i class="fa fa-shopping-bag"></i>
                                                    </nuxt-link>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col l-3 m-4 c-6">
                                        <div class="product-item">
                                            <div class="product-item__img">
                                                <img src="http://mauweb.monamedia.net/broshop/wp-content/uploads/2019/03/mbp13-silver-select-201610.jpg " alt=" " />
                                            </div>

                                            <div class="product-item__info">
                                                <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                                <div class="product-item__price">
                                                    <span class="product-item__price-new">12.000.000đ</span>
                                                    <span class="product-item__price-old">13.500.000đ</span>
                                                </div>
                                            </div>

                                            <ul class="product-item__action">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <nuxt-link to="/detail">
                                                        <i class="fa fa-shopping-bag"></i>
                                                    </nuxt-link>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col l-3 m-4 c-6">
                                        <div class="product-item">
                                            <div class="product-item__img">
                                                <img src="http://mauweb.monamedia.net/broshop/wp-content/uploads/2019/03/mbp13-silver-select-201610.jpg " alt=" " />
                                            </div>

                                            <div class="product-item__info">
                                                <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                                <div class="product-item__price">
                                                    <span class="product-item__price-new">12.000.000đ</span>
                                                    <span class="product-item__price-old">13.500.000đ</span>
                                                </div>
                                            </div>

                                            <ul class="product-item__action">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <nuxt-link to="/detail">
                                                        <i class="fa fa-shopping-bag"></i>
                                                    </nuxt-link>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End single tab -->
                        <div class="tab-pane" id="man-hinh" role="tabpanel">
                            <div class="row">
                                <div class="col l-3 m-4 c-6">
                                    <div class="product-item">
                                        <div class="product-item__img">
                                            <img src="https://product.hstatic.net/1000026716/product/gearvn.com-products-man-hinh-asus-vp279qgl-27-ips-75hz-1_428ee8e90bf548eba3ce5e1930155365_large.jpg" alt=" " />
                                        </div>

                                        <div class="product-item__info">
                                            <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                            <div class="product-item__price">
                                                <span class="product-item__price-new">12.000.000đ</span>
                                                <span class="product-item__price-old">13.500.000đ</span>
                                            </div>
                                        </div>

                                        <div class="product-item__sales">
                                            <span class="product-item__sales-percent">-15%</span>
                                        </div>
                                        <ul class="product-item__action">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <nuxt-link to="/detail">
                                                    <i class="fa fa-shopping-bag"></i>
                                                </nuxt-link>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col l-3 m-4 c-6">
                                    <div class="product-item">
                                        <div class="product-item__img">
                                            <img src="https://product.hstatic.net/1000026716/product/gearvn.com-products-man-hinh-asus-vp279qgl-27-ips-75hz-1_428ee8e90bf548eba3ce5e1930155365_large.jpg" alt=" " />
                                        </div>

                                        <div class="product-item__info">
                                            <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                            <div class="product-item__price">
                                                <span class="product-item__price-new">12.000.000đ</span>
                                                <span class="product-item__price-old">13.500.000đ</span>
                                            </div>
                                        </div>

                                        <div class="product-item__sales">
                                            <span class="product-item__sales-percent">-15%</span>
                                        </div>
                                        <ul class="product-item__action">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <nuxt-link to="/detail">
                                                    <i class="fa fa-shopping-bag"></i>
                                                </nuxt-link>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col l-3 m-4 c-6">
                                    <div class="product-item">
                                        <div class="product-item__img">
                                            <img src="https://product.hstatic.net/1000026716/product/gearvn.com-products-man-hinh-asus-vp279qgl-27-ips-75hz-1_428ee8e90bf548eba3ce5e1930155365_large.jpg" alt=" " />
                                        </div>

                                        <div class="product-item__info">
                                            <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                            <div class="product-item__price">
                                                <span class="product-item__price-new">12.000.000đ</span>
                                                <span class="product-item__price-old">13.500.000đ</span>
                                            </div>
                                        </div>

                                        <div class="product-item__sales">
                                            <span class="product-item__sales-percent">-15%</span>
                                        </div>
                                        <ul class="product-item__action">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <nuxt-link to="/detail">
                                                    <i class="fa fa-shopping-bag"></i>
                                                </nuxt-link>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col l-3 m-4 c-6">
                                    <div class="product-item">
                                        <div class="product-item__img">
                                            <img src="https://product.hstatic.net/1000026716/product/gearvn.com-products-man-hinh-asus-vp279qgl-27-ips-75hz-1_428ee8e90bf548eba3ce5e1930155365_large.jpg" alt=" " />
                                        </div>

                                        <div class="product-item__info">
                                            <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                            <div class="product-item__price">
                                                <span class="product-item__price-new">12.000.000đ</span>
                                                <span class="product-item__price-old">13.500.000đ</span>
                                            </div>
                                        </div>

                                        <div class="product-item__sales">
                                            <span class="product-item__sales-percent">-15%</span>
                                        </div>
                                        <ul class="product-item__action">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <nuxt-link to="/detail">
                                                    <i class="fa fa-shopping-bag"></i>
                                                </nuxt-link>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col l-3 m-4 c-6">
                                    <div class="product-item">
                                        <div class="product-item__img">
                                            <img src="https://product.hstatic.net/1000026716/product/gearvn.com-products-man-hinh-asus-vp279qgl-27-ips-75hz-1_428ee8e90bf548eba3ce5e1930155365_large.jpg" alt=" " />
                                        </div>

                                        <div class="product-item__info">
                                            <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                            <div class="product-item__price">
                                                <span class="product-item__price-new">12.000.000đ</span>
                                                <span class="product-item__price-old">13.500.000đ</span>
                                            </div>
                                        </div>

                                        <div class="product-item__sales">
                                            <span class="product-item__sales-percent">-15%</span>
                                        </div>
                                        <ul class="product-item__action">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <nuxt-link to="/detail">
                                                    <i class="fa fa-shopping-bag"></i>
                                                </nuxt-link>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col l-3 m-4 c-6">
                                    <div class="product-item">
                                        <div class="product-item__img">
                                            <img src="https://product.hstatic.net/1000026716/product/gearvn.com-products-man-hinh-asus-vp279qgl-27-ips-75hz-1_428ee8e90bf548eba3ce5e1930155365_large.jpg" alt=" " />
                                        </div>

                                        <div class="product-item__info">
                                            <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                            <div class="product-item__price">
                                                <span class="product-item__price-new">12.000.000đ</span>
                                                <span class="product-item__price-old">13.500.000đ</span>
                                            </div>
                                        </div>

                                        <div class="product-item__sales">
                                            <span class="product-item__sales-percent">-15%</span>
                                        </div>
                                        <ul class="product-item__action">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <nuxt-link to="/detail">
                                                    <i class="fa fa-shopping-bag"></i>
                                                </nuxt-link>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col l-3 m-4 c-6">
                                    <div class="product-item">
                                        <div class="product-item__img">
                                            <img src="https://product.hstatic.net/1000026716/product/gearvn.com-products-man-hinh-asus-vp279qgl-27-ips-75hz-1_428ee8e90bf548eba3ce5e1930155365_large.jpg" alt=" " />
                                        </div>

                                        <div class="product-item__info">
                                            <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                            <div class="product-item__price">
                                                <span class="product-item__price-new">12.000.000đ</span>
                                                <span class="product-item__price-old">13.500.000đ</span>
                                            </div>
                                        </div>

                                        <div class="product-item__sales">
                                            <span class="product-item__sales-percent">-15%</span>
                                        </div>
                                        <ul class="product-item__action">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <nuxt-link to="/detail">
                                                    <i class="fa fa-shopping-bag"></i>
                                                </nuxt-link>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col l-3 m-4 c-6">
                                    <div class="product-item">
                                        <div class="product-item__img">
                                            <img src="https://product.hstatic.net/1000026716/product/gearvn.com-products-man-hinh-asus-vp279qgl-27-ips-75hz-1_428ee8e90bf548eba3ce5e1930155365_large.jpg" alt=" " />
                                        </div>

                                        <div class="product-item__info">
                                            <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                            <div class="product-item__price">
                                                <span class="product-item__price-new">12.000.000đ</span>
                                                <span class="product-item__price-old">13.500.000đ</span>
                                            </div>
                                        </div>

                                        <div class="product-item__sales">
                                            <span class="product-item__sales-percent">-15%</span>
                                        </div>
                                        <ul class="product-item__action">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <nuxt-link to="/detail">
                                                    <i class="fa fa-shopping-bag"></i>
                                                </nuxt-link>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tai-nghe" role="tabpanel">
                            <div class="row">
                                <div class="col l-3 m-4 c-6">
                                    <div class="product-item">
                                        <div class="product-item__img">
                                            <img src="https://product.hstatic.net/1000026716/product/gearvn-tai-nghe-gaming-dareu-eh925s-pink-rgb-666_ff9eb8be3df94fc5927285fae3bd1d9a_large.jpg" alt=" " />
                                        </div>

                                        <div class="product-item__info">
                                            <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                            <div class="product-item__price">
                                                <span class="product-item__price-new">12.000.000đ</span>
                                                <span class="product-item__price-old">13.500.000đ</span>
                                            </div>
                                        </div>

                                        <div class="product-item__sales">
                                            <span class="product-item__sales-percent">-29%</span>
                                        </div>
                                        <ul class="product-item__action">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <nuxt-link to="/detail">
                                                    <i class="fa fa-shopping-bag"></i>
                                                </nuxt-link>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col l-3 m-4 c-6">
                                    <div class="product-item">
                                        <div class="product-item__img">
                                            <img src="https://product.hstatic.net/1000026716/product/gearvn-tai-nghe-gaming-dareu-eh925s-pink-rgb-666_ff9eb8be3df94fc5927285fae3bd1d9a_large.jpg" alt=" " />
                                        </div>

                                        <div class="product-item__info">
                                            <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                            <div class="product-item__price">
                                                <span class="product-item__price-new">12.000.000đ</span>
                                                <span class="product-item__price-old">13.500.000đ</span>
                                            </div>
                                        </div>

                                        <div class="product-item__sales">
                                            <span class="product-item__sales-percent">-29%</span>
                                        </div>
                                        <ul class="product-item__action">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <nuxt-link to="/detail">
                                                    <i class="fa fa-shopping-bag"></i>
                                                </nuxt-link>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col l-3 m-4 c-6">
                                    <div class="product-item">
                                        <div class="product-item__img">
                                            <img src="https://product.hstatic.net/1000026716/product/gearvn-tai-nghe-gaming-dareu-eh925s-pink-rgb-666_ff9eb8be3df94fc5927285fae3bd1d9a_large.jpg" alt=" " />
                                        </div>

                                        <div class="product-item__info">
                                            <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                            <div class="product-item__price">
                                                <span class="product-item__price-new">12.000.000đ</span>
                                                <span class="product-item__price-old">13.500.000đ</span>
                                            </div>
                                        </div>

                                        <div class="product-item__sales">
                                            <span class="product-item__sales-percent">-29%</span>
                                        </div>
                                        <ul class="product-item__action">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <nuxt-link to="/detail">
                                                    <i class="fa fa-shopping-bag"></i>
                                                </nuxt-link>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col l-3 m-4 c-6">
                                    <div class="product-item">
                                        <div class="product-item__img">
                                            <img src="https://product.hstatic.net/1000026716/product/gearvn-tai-nghe-gaming-dareu-eh925s-pink-rgb-666_ff9eb8be3df94fc5927285fae3bd1d9a_large.jpg" alt=" " />
                                        </div>

                                        <div class="product-item__info">
                                            <h4 class="product-item__name">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                            <div class="product-item__price">
                                                <span class="product-item__price-new">12.000.000đ</span>
                                                <span class="product-item__price-old">13.500.000đ</span>
                                            </div>
                                        </div>

                                        <div class="product-item__sales">
                                            <span class="product-item__sales-percent">-29%</span>
                                        </div>
                                        <ul class="product-item__action">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <nuxt-link to="/detail">
                                                    <i class="fa fa-shopping-bag"></i>
                                                </nuxt-link>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="chuot" role="tabpanel">
                            <div class="row">
                                <h1>Chuột</h1>
                            </div>
                        </div>
                        <div class="tab-pane" id="ban-phim" role="tabpanel">
                            <h1>Bàn phím</h1>
                        </div>
                        <div class="tab-pane" id="ghe-gaming" role="tabpanel">
                            <h1>Ghế</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
