<template>
      <div class="container">
        <div class="grid wide">
            <div class="row category-with-slider">
                <nav class="category hide-on-mobile-tablet">
                    <ul class="category-list">
                        <li class="category-item">
                            <a href="../pages/product.html" class="category-item__link">
                                <div class="category-item__link-name">
                                    <img src="~/assets/images/icons/laptop.png" alt="">Laptop
                                </div>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <div class="mega-menu">
                                <div class="content">
                                    <div class="col">
                                        <section>
                                            <h2>Laptop Gaming</h2>
                                            <a href="#" class="img-wrapper"><span class="img"
                                          ><img
                                            src="https://hanoicomputercdn.com/media/product/250_59417_laptop_lenovo_gaming_3_16.png"
                                            alt="Random Image" /></span
                                      ></a>
                                            <p>Laptop Lenovo Gaming 3</p>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Asus</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>

                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>MSI</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Acer</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="category-item">
                            <a href="../pages/product.html" class="category-item__link">
                                <div class="category-item__link-name">
                                    <img src="~/assets/images/icons/monitor.png" alt="">Màn hình
                                </div>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <div class="mega-menu">
                                <div class="content">
                                    <div class="col">
                                        <section>
                                            <h2>Laptop Gaming</h2>
                                            <a href="#" class="img-wrapper"><span class="img"
                                          ><img
                                            src="https://hanoicomputercdn.com/media/product/250_59417_laptop_lenovo_gaming_3_16.png"
                                            alt="Random Image" /></span
                                      ></a>
                                            <p>Laptop Lenovo Gaming 3</p>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Asus</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>

                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>MSI</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Acer</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="category-item">
                            <a href="../pages/product.html" class="category-item__link">
                                <div class="category-item__link-name">
                                    <img src="~/assets/images/icons/keyboard.png" alt="">Bàn phím
                                </div>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <div class="mega-menu">
                                <div class="content">
                                    <div class="col">
                                        <section>
                                            <h2>Laptop Gaming</h2>
                                            <a href="#" class="img-wrapper"><span class="img"
                                          ><img
                                            src="https://hanoicomputercdn.com/media/product/250_59417_laptop_lenovo_gaming_3_16.png"
                                            alt="Random Image" /></span
                                      ></a>
                                            <p>Laptop Lenovo Gaming 3</p>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Asus</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>

                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>MSI</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Acer</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </li>
                         <li class="category-item">
                            <a href="../pages/product.html" class="category-item__link">
                                <div class="category-item__link-name">
                                    <img src="~/assets/images/icons/mouse.png" alt="">Chuột
                                </div>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <div class="mega-menu">
                                <div class="content">
                                    <div class="col">
                                        <section>
                                            <h2>Laptop Gaming</h2>
                                            <a href="#" class="img-wrapper"><span class="img"
                                          ><img
                                            src="https://hanoicomputercdn.com/media/product/250_59417_laptop_lenovo_gaming_3_16.png"
                                            alt="Random Image" /></span
                                      ></a>
                                            <p>Laptop Lenovo Gaming 3</p>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Asus</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>

                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>MSI</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Acer</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </li>
                         <li class="category-item">
                            <a href="../pages/product.html" class="category-item__link">
                                <div class="category-item__link-name">
                                    <img src="~/assets/images/icons/headphones.png" alt="">Tai nghe
                                </div>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <div class="mega-menu">
                                <div class="content">
                                    <div class="col">
                                        <section>
                                            <h2>Laptop Gaming</h2>
                                            <a href="#" class="img-wrapper"><span class="img"
                                          ><img
                                            src="https://hanoicomputercdn.com/media/product/250_59417_laptop_lenovo_gaming_3_16.png"
                                            alt="Random Image" /></span
                                      ></a>
                                            <p>Laptop Lenovo Gaming 3</p>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Asus</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>

                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>MSI</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Acer</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </li>
                         <li class="category-item">
                            <a href="../pages/product.html" class="category-item__link">
                                <div class="category-item__link-name">
                                    <img src="~/assets/images/icons/speaker.png" alt="">Loa
                                </div>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <div class="mega-menu">
                                <div class="content">
                                    <div class="col">
                                        <section>
                                            <h2>Laptop Gaming</h2>
                                            <a href="#" class="img-wrapper"><span class="img"
                                          ><img
                                            src="https://hanoicomputercdn.com/media/product/250_59417_laptop_lenovo_gaming_3_16.png"
                                            alt="Random Image" /></span
                                      ></a>
                                            <p>Laptop Lenovo Gaming 3</p>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Asus</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>

                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>MSI</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Acer</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </li>
                         <li class="category-item">
                            <a href="../pages/product.html" class="category-item__link">
                                <div class="category-item__link-name">
                                    <img src="~/assets/images/icons/gaming-chair.png" alt="">Ghế Gaming
                                </div>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <div class="mega-menu">
                                <div class="content">
                                    <div class="col">
                                        <section>
                                            <h2>Laptop Gaming</h2>
                                            <a href="#" class="img-wrapper"><span class="img"
                                          ><img
                                            src="https://hanoicomputercdn.com/media/product/250_59417_laptop_lenovo_gaming_3_16.png"
                                            alt="Random Image" /></span
                                      ></a>
                                            <p>Laptop Lenovo Gaming 3</p>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Asus</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>

                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>MSI</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Acer</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </li>
                         <li class="category-item">
                            <a href="../pages/product.html" class="category-item__link">
                                <div class="category-item__link-name">
                                    <img src="~/assets/images/icons/ram.png" alt="">Ram
                                </div>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <div class="mega-menu">
                                <div class="content">
                                    <div class="col">
                                        <section>
                                            <h2>Laptop Gaming</h2>
                                            <a href="#" class="img-wrapper"><span class="img"
                                          ><img
                                            src="https://hanoicomputercdn.com/media/product/250_59417_laptop_lenovo_gaming_3_16.png"
                                            alt="Random Image" /></span
                                      ></a>
                                            <p>Laptop Lenovo Gaming 3</p>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Asus</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>

                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>MSI</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Acer</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </li>
                         <li class="category-item">
                            <a href="../pages/product.html" class="category-item__link">
                                <div class="category-item__link-name">
                                    <img src="~/assets/images/icons/graphics-card.png" alt="">Card đồ họa
                                </div>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <div class="mega-menu">
                                <div class="content">
                                    <div class="col">
                                        <section>
                                            <h2>Laptop Gaming</h2>
                                            <a href="#" class="img-wrapper"><span class="img"
                                          ><img
                                            src="https://hanoicomputercdn.com/media/product/250_59417_laptop_lenovo_gaming_3_16.png"
                                            alt="Random Image" /></span
                                      ></a>
                                            <p>Laptop Lenovo Gaming 3</p>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Asus</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>

                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>MSI</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col">
                                        <section>
                                            <h2>Acer</h2>
                                            <ul class="mega-links">
                                                <li><a href="">Asus TUF Dash F15</a></li>
                                                <li><a href="#">MSI Gaming G63</a></li>
                                                <li><a href="#">Acer Nitro 5</a></li>
                                                <li><a href="#">Lenovo Gaming 3</a></li>
                                                <li><a href="#">MSI Gaming GL65</a></li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </nav>

                <div class="slider">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="https://theme.hstatic.net/1000026716/1000440777/14/slideshow_11.jpg?v=22070" alt="Los Angeles" style="width:100%;">
                            </div>

                            <div class="item">
                                <img src="https://theme.hstatic.net/1000026716/1000440777/14/slideshow_8.jpg?v=22052" alt="Chicago" style="width:100%;">
                            </div>

                            <div class="item">
                                <img src="https://theme.hstatic.net/1000026716/1000440777/14/slideshow_10.jpg?v=22052" alt="New york" style="width:100%;">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>