<template>
       <div>
        <div class="row">
            <div class="col l-12 m-12 c-12">
                <breadcrumb></breadcrumb>
            </div>
        </div>


        <div class="row">
            <div class="col l-3 m-12 c-12">
                <div class="filter-container">
                    <div class="filter-group">
                        <h3 class="filter-group__title">Khoảng giá</h3>
                        <ul class="filter-group__list">
                            <li class="filter-group__item">
                                <a href="" class="filter-group__item-link">
                                    <input type="checkbox" class="filter-group__item-input">
                                    <span class="filter-group__item-label">Dưới 1.000.000</span>
                                </a>
                            </li>
                            <li class="filter-group__item">
                                <a href="" class="filter-group__item-link">
                                    <input type="checkbox" class="filter-group__item-input">
                                    <span class="filter-group__item-label">Giá từ 1.000.000đ - 5.000.000đ</span>
                                </a>
                            </li>
                            <li class="filter-group__item">
                                <a href="" class="filter-group__item-link">
                                    <input type="checkbox" class="filter-group__item-input">
                                    <span class="filter-group__item-label">Giá từ 1.000.000đ - 5.000.000đ</span>
                                </a>
                            </li>
                            <li class="filter-group__item">
                                <a href="" class="filter-group__item-link">
                                    <input type="checkbox" class="filter-group__item-input">
                                    <span class="filter-group__item-label">Giá từ 1.000.000đ - 5.000.000đ</span>
                                </a>
                            </li>
                            <li class="filter-group__item">
                                <a href="" class="filter-group__item-link">
                                    <input type="checkbox" class="filter-group__item-input">
                                    <span class="filter-group__item-label">Giá từ 1.000.000đ - 5.000.000đ</span>
                                </a>
                            </li>
                            <li class="filter-group__item">
                                <a href="" class="filter-group__item-link">
                                    <input type="checkbox" class="filter-group__item-input">
                                    <span class="filter-group__item-label">Giá từ 1.000.000đ - 5.000.000đ</span>
                                </a>
                            </li>
                            <li class="filter-group__item">
                                <a href="" class="filter-group__item-link">
                                    <input type="checkbox" class="filter-group__item-input">
                                    <span class="filter-group__item-label">Giá từ 1.000.000đ - 5.000.000đ</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-group">
                        <h3 class="filter-group__title">Chọn hãng</h3>
                        <ul class="filter-group__list">
                            <li class="filter-group__item">
                                <a href="" class="filter-group__item-link">
                                    <input type="checkbox" class="filter-group__item-input">
                                    <span class="filter-group__item-label">ASUS</span>
                                </a>
                            </li>
                            <li class="filter-group__item">
                                <a href="" class="filter-group__item-link">
                                    <input type="checkbox" class="filter-group__item-input">
                                    <span class="filter-group__item-label">MSI</span>
                                </a>
                            </li>
                            <li class="filter-group__item">
                                <a href="" class="filter-group__item-link">
                                    <input type="checkbox" class="filter-group__item-input">
                                    <span class="filter-group__item-label">ACER</span>
                                </a>
                            </li>
                            <li class="filter-group__item">
                                <a href="" class="filter-group__item-link">
                                    <input type="checkbox" class="filter-group__item-input">
                                    <span class="filter-group__item-label">Lenovo</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-group">
                        <h3 class="filter-group__title">Loại</h3>
                        <ul class="filter-group__list scroll-disabled">
                            <li class="filter-group__item">
                                <a href="" class="filter-group__item-link">
                                    <input type="radio" class="filter-group__item-input">
                                    <span class="filter-group__item-label">Điện thoại</span>
                                </a>
                            </li>
                            <li class="filter-group__item">
                                <a href="" class="filter-group__item-link">
                                    <input type="radio" class="filter-group__item-input">
                                    <span class="filter-group__item-label">Laptop</span>
                                </a>
                            </li>
                            <li class="filter-group__item">
                                <a href="" class="filter-group__item-link">
                                    <input type="radio" class="filter-group__item-input">
                                    <span class="filter-group__item-label">Chuột</span>
                                </a>
                            </li>
                            <li class="filter-group__item">
                                <a href="" class="filter-group__item-link">
                                    <input type="radio" class="filter-group__item-input">
                                    <span class="filter-group__item-label">Bàn phím </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col l-9 right-content">

                <h3 class="right-content__heading">Máy tính</h3>

                <div class="filter-right">
                    <div class="view-mode">
                        <a href="" class="view-mode__grid">
                            <i class="view-mode__icon-grid fas fa-th"></i>Lưới
                        </a>
                        <a href="" class="view-mode__list">
                            <i class="view-mode__icon-list fas fa-th-list"></i>Danh sách
                        </a>
                    </div>
                    <div class="sort-by">
                        <span class="sort-by__title">Sắp xếp:</span>
                        <div class="sort-by__options">
                            <span class="sort-by__options-title">Mặc định</span>
                            <i class="sort-by__icon fas fa-angle-down"></i>
                            <div class="sort-by__select">
                                <ul class="sort-by__select-list">
                                    <li class="sort-by__select-item">
                                        <a href="" class="sort-by__select-link">A -> Z</a>
                                    </li>
                                    <li class="sort-by__select-item">
                                        <a href="" class="sort-by__select-link">Z -> A</a>
                                    </li>
                                    <li class="sort-by__select-item">
                                        <a href="" class="sort-by__select-link">Giá tăng dần</a>
                                    </li>
                                    <li class="sort-by__select-item">
                                        <a href="" class="sort-by__select-link">Giá giảm dần</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col l-4 m-4 c-6 ">
                        <div class="product-item ">
                            <div class="product-item__img ">
                                <img src="https://hanoicomputercdn.com/media/product/250_52912_moms013__5_.jpg" alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>
                            <div class="product-item__sales ">
                                <span class="product-item__sales-percent ">-29%</span>
                            </div>

                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                  <nuxt-link to="/detail">
                                            <i class="fa fa-shopping-bag "></i>
                                        </nuxt-link>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6 ">
                        <div class="product-item ">

                            <div class="product-item__img ">
                                <img src="https://hanoicomputercdn.com/media/product/250_56917_xl2546k__4_.png" alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>

                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                  <nuxt-link to="/detail">
                                            <i class="fa fa-shopping-bag "></i>
                                        </nuxt-link>


                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6 ">
                        <div class="product-item ">
                            <div class="product-item__img ">
                                <img src="https://hanoicomputercdn.com/media/product/250_58238_man_hinh_asus_proart_pa278cv_10.png" alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>


                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                   <nuxt-link to="/detail">
                                            <i class="fa fa-shopping-bag "></i>
                                        </nuxt-link>


                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6 ">
                        <div class="product-item ">
                            <div class="product-item__img ">
                                <img src="https://hanoicomputercdn.com/media/product/250_58238_man_hinh_asus_proart_pa278cv_10.png" alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>


                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                   <nuxt-link to="/detail">
                                            <i class="fa fa-shopping-bag "></i>
                                        </nuxt-link>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6 ">
                        <div class="product-item ">
                            <div class="product-item__img ">
                                <img src="https://hanoicomputercdn.com/media/product/250_58238_man_hinh_asus_proart_pa278cv_10.png" alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>


                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                  <nuxt-link to="/detail">
                                            <i class="fa fa-shopping-bag "></i>
                                        </nuxt-link>


                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6 ">
                        <div class="product-item ">
                            <div class="product-item__img ">
                                <img src="https://hanoicomputercdn.com/media/product/250_58238_man_hinh_asus_proart_pa278cv_10.png" alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>


                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                   <nuxt-link to="/detail">
                                            <i class="fa fa-shopping-bag "></i>
                                        </nuxt-link>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6 ">
                        <div class="product-item ">
                            <div class="product-item__img ">
                                <img src="https://hanoicomputercdn.com/media/product/250_58238_man_hinh_asus_proart_pa278cv_10.png" alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>


                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                   <nuxt-link to="/detail">
                                            <i class="fa fa-shopping-bag "></i>
                                        </nuxt-link>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6 ">
                        <div class="product-item ">
                            <div class="product-item__img ">
                                <img src="https://hanoicomputercdn.com/media/product/250_58238_man_hinh_asus_proart_pa278cv_10.png" alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>


                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                 <nuxt-link to="/detail">
                                            <i class="fa fa-shopping-bag "></i>
                                        </nuxt-link>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6 ">
                        <div class="product-item ">
                            <div class="product-item__img ">
                                <img src="https://hanoicomputercdn.com/media/product/250_58238_man_hinh_asus_proart_pa278cv_10.png" alt=" ">
                            </div>

                            <div class="product-item__info ">
                                <h4 class="product-item__name ">Macbook Pro M1 Chính Hãng - 100% Hàng Chính Hãng Cực Đẹp, sang trong, BH chinh hang 36 thang</h4>
                                <div class="product-item__price ">
                                    <span class="product-item__price-new ">12.000.000đ</span>
                                    <span class="product-item__price-old ">13.500.000đ</span>
                                </div>
                            </div>


                            <ul class="product-item__action ">
                                <li>
                                    <a href="">

                                        <i class="fa fa-heart "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye "></i>
                                    </a>

                                </li>
                                <li>
                                  <nuxt-link to="/detail">
                                            <i class="fa fa-shopping-bag "></i>
                                        </nuxt-link>


                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            <pagination></pagination>

            </div>
        </div>
    </div>

</template>