:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #F94E3F;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* .grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
} */

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__column-2 {
    width: 16.3334%;
    padding-left: 12px;
    padding-right: 12px;
}

.grid__column-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.grid__column-4 {
    width: 33.334%;
    padding-left: 12px;
    padding-right: 12px;
}

.grid__column-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.grid__column-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
}

.grid__column-10 {
    width: 83.333%;
    padding-left: 12px;
    padding-right: 12px;
}

.text--strong {
    font-weight: bold;
}

.mt-24 {
    margin-top: 24px;
}