* {
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 140px;
    background-color: var(--white-color);
    border-bottom: 2px solid var(--primary-color);
}

.header-with-search {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    height: 74px;
}

.header__mobile-search {
    display: none;
}

.header__logo {
    width: 264px;
}

.header__search {
    position: relative;
    background-color: #ccc;
    height: 42px;
    display: flex;
    flex: 1;
}

.header__mobile-search {
    padding: 6px 10px 0;
}

.header__mobile-search-icon {
    font-size: 2rem;
    color: var(--primary-color);
}

.header__search-input-wrap {
    flex: 1;
}

.header-search-input {
    width: 100%;
}

.header__search-history {
    position: absolute;
    top: 100%;
    background-color: var(--white-color);
    width: calc(100% - 147px);
    top: calc(100% + 5px);
    left: 90px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: none;
    z-index: 1;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.3);
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0 0;
}

.header__search-history-list a {
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.7);
}

.header__search-input:focus~.header__search-history {
    display: block;
}

.header__search-history-list a:hover {
    background-color: #f1f1f1;
}

.header__search-input {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    border: 1px solid #ebebeb;
    outline: none;
    padding: 0 102px;
}

.header__search-btn-options {
    position: absolute;
    width: 91px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    left: 0;
    color: rgba(0, 0, 0, 0.7);
    background-color: var(--white-color);
    border: 1px solid #ebebeb;
    cursor: pointer;
}

.header__search-btn-options-icon {
    position: relative;
    top: -1.9px;
    font-size: 1.6rem;
}

.header__search-option-list {
    position: absolute;
    min-width: 198px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    top: calc(100% + 4px);
    left: 0;
    padding: 0;
    display: none;
    z-index: 1;
}

.header__search-option-list::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    top: -9px;
}

.header__search-btn-options:hover .header__search-option-list {
    display: block;
}

.header__search-option-item {
    text-align: left;
}

.header__search-option-link {
    text-decoration: none;
    padding: 7px 20px;
    display: block;
    color: #6b6b6b;
}

.header__search-option-link:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.header__search-btn {
    width: 57px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.header__user {
    display: flex;
    width: 216px;
}

.header__user-icon-link {
    width: 42px;
    height: 42px;
    border: 1px solid #ebebeb;
    background-color: #f6f6f6;
    margin: 0 14px 0 22px;
    display: flex;
}

.header__user-icon {
    margin: auto;
    color: #c1c1c1;
    font-size: 1.6rem;
}

.header__user-auth span {
    font-size: 1.4rem;
}

.header__user-link {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--black-color);
}

.header__user-link:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.header__cart {
    position: relative;
    width: 96px;
    text-align: center;
}

.header__cart>a {
    text-decoration: none;
    color: var(--black-color);
}

.header__cart-icon {
    position: relative;
    top: -1px;
}

.header__cart-text {
    margin: 1px 0 0 0;
    font-size: 1.4rem;
}

.header__cart-notice {
    position: absolute;
    height: 16px;
    width: 15px;
    border-radius: 5px;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.7rem;
    top: -12px;
    left: 32px;
    background-color: var(--primary-color);
}

.header__cart-list {
    position: absolute;
    width: 400px;
    top: 100%;
    right: 18px;
    border-radius: 3px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: none;
}

.header__cart:hover .header__cart-list {
    display: block;
    z-index: 1;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    border: 12px solid;
    border-color: transparent transparent var(--primary-color) transparent;
    top: -23px;
    right: 17px;
    z-index: 1;
}

.header__cart-list-item {
    padding: 0;
    margin: 0;
}

.header__cart-list-item a {
    text-decoration: none;
    padding: 0;
}

.header__cart-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
}

.header__cart-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__cart-item:hover {
    background-color: #f5f5f5;
}

.header__cart-list-heading {
    padding: 10px 12px;
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__cart-item-img {
    height: 50px;
    border: 1px solid #ebebeb;
}

.header__cart-item-info {
    margin-left: 12px;
    width: 100%;
}

.header__cart-item-head {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

.header__cart-item-price-qty {
    font-size: 1.3rem;
    color: #757575;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    margin: 0 3px;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    line-height: 2.5rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
}

.header__cart-item-btn {
    float: right;
    cursor: pointer;
    max-width: 124px;
    padding: 8px 10px;
    margin: 12px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: var(--primary-color);
    display: block;
    text-decoration: none;
    color: var(--white-color);
}


/* Header Bottom */

.bottom-header-wrap {
    display: flex;
    justify-content: space-between;
    height: 42px;
    margin-top: 24px;
}

.bottom-header-left {
    width: 228px;
    max-width: 228px;
    border: 1px solid #ebebeb;
    border-bottom: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.bottom-header-left>a {
    text-decoration: none;
    color: var(--white-color);
}

.bottom-header-left__icon {
    font-size: 1.4rem;
    margin-right: 12px;
}

.bottom-header-center {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    margin: -4px 15px;
}

.bottom-header-center__list {
    padding-left: 0;
}

.bottom-header-center__item {
    display: inline-block;
    margin: 0 20px;
}

.bottom-header-center__link {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--black-color);
    transition: 0.2s all;
}

.bottom-header-center__link::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: .3s;
}

.bottom-header-center__link:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.bottom-header-center__link:hover::after {
    width: 100%;
}

.bottom-header-center #icon {
    position: absolute;
    top: -70px;
    left: 0;
    color: var(--primary-color);
    z-index: 1;
    font-size: 2.2rem;
    display: none;
}

.login-hide {
    display: none;
}

.bottom-header-right {
    float: right;
    font-size: 1.4rem;
    line-height: 40px;
    width: 150px;
    text-align: right;
    margin-right: 17px;
}

.bottom-header-right__phone {
    color: var(--primary-color);
    font-weight: bold;
}


/* Category */

.category-with-slider {
    display: flex;
}

.category {
    position: relative;
    background-color: var(--white-color);
    border: 1px solid #ddd;
    border-top: none;
    margin: 0;
    width: 228px;
    max-width: 228px;
    margin-left: -18px;
}

.category-list {
    padding: 0;
    margin: 0;
}

.category-item {
    list-style: none;
}

.category-item__link:hover::after {
    display: block;
}

.category-item__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 14px 25px;
    color: #333333;
    border-bottom: 1px solid #ebebeb;
}

.category-item:hover {
    background-color: #ebebeb;
}

.category-item__link:hover {
    text-decoration: none;
}

.category-item__link-name {
    display: flex;
    align-items: center;
    color: #111111;
}

.category-item__link-name>img {
    height: 20px;
    padding-right: 8px;
}


/*================ Mega Menu ===========*/

.category-item__link:hover .mega-menu {
    left: 100%;
}

.slider {
    flex: 1;
    margin-left: 12px;
}

.slider img {
    height: 100%;
}


/* mega menu  */

.mega-menu {
    position: absolute;
    left: calc(100% + 8px);
    width: 70vw;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1;
}

.mega-menu .content {
    background: var(--white-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
}

.blog .content {
    grid-template-columns: repeat(3, 1fr);
}

.content .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 3rem;
}

.content .col .img-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 20vw;
    overflow: hidden;
}

.content .col .img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content .col img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.content .col .img-wrapper:hover img {
    transform: scale(1.1);
}

.content .col h2 {
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: bold;
}

.content .col p {
    line-height: 1.2rem;
}

.content .col .mega-links {
    border-left: 1px solid #1a3246;
    list-style: none;
    padding-left: 0;
}

.content .col .read-more {
    display: inline-block;
    padding-top: 1rem;
    color: #427dad;
    transition: color 0.3s ease;
}

.col .mega-links li,
.col .mega-links li a {
    padding: 0 1.3rem;
    font-size: 1.4rem;
    color: var(--black-color);
}

.col .mega-links li a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.category-item:hover .mega-menu {
    opacity: 1;
    visibility: visible;
}

.content .col .read-more:hover {
    color: #ff652f;
}


/* ================Product trend============= */

.product-trend {
    margin: 40px 0 0;
}

.product-trend__brand {
    text-align: center;
    margin: 70px 0 50px 0;
}

.product-trend__brand-title {
    font-size: 2.1rem;
    margin-bottom: 0;
    text-transform: uppercase;
    position: relative;
    color: #2c2d3f;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.product-trend__brand-title::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 70px;
    background: var(--primary-color);
    left: 50%;
    bottom: 0;
    margin-left: -25px;
}

.nav-tabs {
    display: inline-block;
    border: none;
    margin-top: 30px;
}

.nav-item {
    margin-bottom: -1px;
    display: inline-block;
}

.nav-tabs li a {
    color: #333;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    font-weight: 500;
    color: #333;
    padding: 3px 14px;
    border-radius: 3px;
    font-size: 1.4rem;
}

.nav-tabs li a i {
    margin-right: 10px;
}

.nav-tabs li .nav-link .active,
.nav-tabs li:hover a {
    background-color: var(--primary-color);
    color: #fff;
}


/* Collection */

.collection-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 38px 0 18px 0;
    height: 60px;
    border: 1px solid #ebebeb;
}

.collection-header__left {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    width: 254px;
    height: 100%;
}

.collection-header__left::before {
    content: "";
    position: absolute;
    border-width: 29px 20px;
    border-style: solid;
    left: 254px;
    border-color: transparent transparent transparent var(--primary-color);
}

.collection-header__left-img {
    width: 30px;
    height: 20px;
    margin: 20px 15px;
}

.collection-header__left-link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 400;
    font-size: 1.6rem;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    padding: 30px 10px;
}

.collection-header__right {
    flex: 1;
    height: 45px;
    margin: 7px;
    text-align: right;
    background-color: #f5f5f5;
}

.collection-header__right-list {
    list-style: none;
    height: 100%;
    margin: 0;
}

.collection-header__right-item {
    display: inline-block;
}

.collection-header__right-link {
    display: block;
    padding: 0 20px;
    line-height: 45px;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    transition: 0.3s;
}

.collection-header__right-link:hover {
    color: var(--primary-color);
}


/* Product */

.product-list {
    position: relative;
}

.product-item {
    position: relative;
    display: block;
    text-decoration: none;
    margin: 12px 0 24px 0;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 3px;
}

.product-item:hover {
    text-decoration: none;
    cursor: pointer;
}

.product-item__img {
    text-align: center;
    border: none;
}

.product-item__img img {
    height: 220px;
}

.product-item:hover .product-item__img img {
    opacity: 0.6;
}

.product-item__action {
    position: absolute;
    right: 0;
    bottom: 70px;
    list-style: none;
    overflow-x: hidden;
}

.product-item__action a {
    display: block;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 1.4rem;
    margin: 0 5px 10px;
    line-height: 35px;
    background-color: #ebebeb;
    color: #333;
    transition: 0.5s all;
    transform: translateX(50px);
    overflow: hidden;
    border: none;
}

.product-item:hover .product-item__action a {
    transform: translateX(0);
}

.product-item__action a:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.product-item__info {
    background-color: var(--white-color);
    font-size: 1.5rem;
    padding: 25px 20px 20px;
    border: none;
}

.product-item__name {
    color: var(--black-color);
    font-weight: 400;
    margin: 10px 0;
    font-size: 1.5rem;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-item__price-new {
    font-weight: bold;
    color: #c10017;
}

.product-item__price-old {
    color: #c10017;
    opacity: .6;
    font-size: 1.3rem;
    margin-left: 15px;
    text-decoration: line-through;
}

.product-item__sales {
    position: absolute;
    top: 12px;
    left: -8px;
    padding: 1px 12px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: var(--primary-color);
}

.product-item__sales::after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: -8px;
    filter: saturate(60%);
    border-top: 8px solid var(--primary-color);
    border-left: 8px solid transparent;
}

.product-item__sales-percent {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--white-color);
    margin-left: -5px;
}

.product-heading {
    font-size: 2.3rem;
    margin: 70px 0 0 0;
    text-transform: capitalize;
    position: relative;
    color: #2c2d3f;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.product-heading::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background: var(--primary-color);
    bottom: 0;
}

.product-title:hover {
    color: #fbbf22;
}


/* Product selling */

.product-selling {
    background-color: var(--white-color);
    display: block;
    text-decoration: none;
}

.product-selling__wrap {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding: 5px 12px;
}

.product-selling__img {
    height: 120px;
}

.product-selling__info {
    margin-left: 15px;
}

.product-selling__name {
    color: var(--black-color);
}

.product-selling__price-new {
    display: block;
    font-weight: bold;
    color: var(--primary-color);
    line-height: 2rem;
}

.product-selling__price-old {
    color: #939393;
    font-size: 1.3rem;
    text-decoration: line-through;
}

.control-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.control-btn a {
    position: relative;
    display: block;
    margin-top: -35%;
    font-size: 3rem;
    padding: 2px 13px;
    color: #666;
    border-radius: 50%;
}


/*==================== Page product ================*/

.breadcrumb {
    background-color: #eceeef;
    color: var(--black-color);
    padding: 15px 15px;
    margin: 20px 0 18px;
    font-size: 1.5rem;
    border-radius: 3px;
    width: 100%;
}

.breadcrumb>span {
    margin: 0 10px 0 5px;
}

.breadcrumb__page-parent,
.breadcrumb__page-child {
    text-decoration: none;
    color: var(--black-color);
}

.breadcrumb__page-parent:hover,
.breadcrumb__page-child:hover {
    color: var(--primary-color);
}

.breadcrumb__page-child {
    font-weight: 500;
}


/* Filter */

.filter-container {
    background-color: var(--white-color);
    border: 1px solid #ebebeb;
    border-radius: 3px;
}

.filter-group__title {
    margin: 0;
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.filter-group {
    margin: 25px 10px;
    border-bottom: 1px solid #ebebeb;
}

.filter-group__list {
    padding-left: 0;
    list-style: none;
    max-height: 128px;
    overflow-y: auto;
}

.scroll-disabled {
    overflow-y: unset;
}

.filter-group__list::-webkit-scrollbar {
    width: 10px;
}

.filter-group__list::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

.filter-group__list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--primary-color);
}

.filter-group__item {
    margin: 20px 0;
}

.filter-group__item-link {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.4rem;
    line-height: 1.4rem;
    text-decoration: none;
    color: var(--black-color);
}

.filter-group__item-link:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.filter-group__item-input {
    position: relative;
    top: -2px;
    margin-right: 6px;
}

.filter-group__item-label {
    margin-left: 4px;
}


/* ======= right content =========== */

.right-content__heading {
    position: relative;
    margin: 0;
    font-size: 2.5rem;
    width: 100%;
}

.right-content__heading::after {
    position: absolute;
    content: "";
    display: block;
    background-color: black;
    width: 50px;
    height: 3px;
    left: 0;
    bottom: -15px;
}

.filter-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 45px 0 30px 0;
    padding: 15px 20px;
    background-color: #eceeef;
}

.view-mode__grid,
.view-mode__list {
    background-color: var(--white-color);
    padding: 10px 17px;
    text-decoration: none;
    font-size: 1.4rem;
    margin: 0 3px;
    color: var(--black-color);
    border-radius: 3px;
    border: 1px solid #eceeef;
}

.view-mode__icon-grid {
    margin-right: 5px;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.view-mode__icon-list {
    margin-right: 5px;
    font-size: 1.5rem;
    color: var(--black-color);
}

.sort-by {
    display: flex;
    align-items: center;
}

.sort-by__title {
    font-size: 1.5rem;
    margin-right: 5px;
}

.sort-by__options {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    margin-left: 15px;
    background-color: var(--white-color);
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.4rem;
    margin: 0 3px;
    color: var(--black-color);
    border-radius: 3px;
    border: 1px solid #eceeef;
    cursor: pointer;
}

.sort-by__select::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 100%;
    top: -6px;
}

.sort-by__options:hover .sort-by__select {
    display: block;
}

.sort-by__select {
    position: absolute;
    z-index: 1;
    display: none;
    top: calc(100% + 3px);
    left: 0;
    right: 0;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: var(--white-color);
}

.sort-by__select-link:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.sort-by__select-link:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.sort-by__select-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sort-by__select-link {
    display: block;
    color: var(--black-color);
    padding: 8px 12px;
    text-decoration: none;
}

.sort-by__select-link:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}


/* ================= Page Cart =================== */

.cart-page {
    margin: 60px auto;
}

.cart-page>table {
    width: 100%;
    border: 1px solid #ebebeb;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
}

.cart-page th {
    padding: 8px;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 1.7rem;
}

.cart-page td {
    padding: 10px 5px;
}

.cart-page td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

.cart-page td a {
    color: var(--primary-color);
}

.cart-page td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.total-price table {
    border-top: 3px solid var(--primary-color);
    width: 100%;
    max-width: 410px;
}

.total-price td:first-child {
    font-weight: bold;
    font-size: 1.6rem;
}

.cart-btn {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.cart-btn__update,
.cart-btn__checkout {
    margin: 0 5px;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.cart-btn__update:hover,
.cart-btn__checkout:hover {
    opacity: 0.9;
}


/* ===============Page Detail Product=================== */

.card-wrapper {
    max-width: 1100px;
    margin: 80px 0;
}

.card-wrapper img {
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    width: 100%;
    height: 100%;
}

.img-select {
    display: flex;
}

.img-item {
    margin: 3px;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.product-content {
    padding: 20px 30px;
}

.product-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 10px 0;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover {
    opacity: 0.9;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-price {
    margin: 1rem 0;
    font-size: 1.7rem;
    font-weight: 700;
}

.product-price span {
    font-weight: 400;
}

.last-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price span {
    color: #256eff;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
    font-size: 1.8rem;
}

.product-detail p {
    font-size: 1.6rem;
    padding: 3px;
    opacity: 0.8;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 1.5rem;
    padding-left: 0;
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    background-size: 18px;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li i {
    margin-right: 5px;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.product-detail ul li span {
    font-weight: 400;
}

.purchase-info {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.purchase-info input,
.purchase-info .btn {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 6px 12px;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.purchase-info input {
    width: 80px;
}

.purchase-info .btn {
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
}

.purchase-info .btn:first-of-type {
    background: #256eff;
}

.purchase-info .btn:last-of-type {
    background: #f64749;
}

.purchase-info .btn:hover {
    opacity: 0.9;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links p {
    position: relative;
    top: 5px;
    margin-right: 3px;
    font-size: 1.rem;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 2px 0;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}


/* Footer */

.footer {
    margin-top: 30px;
}

.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-item {
    display: flex;
    align-items: center;
}

.service-item__info {
    position: relative;
    top: 6px;
    margin-left: 18px;
}

.service-item__heading {
    color: var(--black-color);
    font-size: 1.9 rem;
    font-weight: bold;
}

.service-item__desc {
    font-size: 1.5rem;
    font-weight: 600;
    color: #666;
}

.service img {
    height: 80px;
}

.footer-top {
    padding: 20px 0;
    border-top: 2px solid var(--primary-color);
}

.footer-body {
    background-color: #333;
    padding: 30px 0 20px;
}

.footer-body__heading {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 1.5rem;
}

.footer-body__list {
    padding-left: 0;
    list-style: none;
}

.footer-body__link {
    color: #989898;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 8px 0;
    display: block;
    transition: ease .3s;
}

.footer-body__link:hover {
    color: var(--primary-color);
}

.footer-body__link-icon {
    margin-right: 10px;
}

.footer-bottom {
    background-color: #282828;
    color: #989898;
}

.footer-bottom__wrap {
    font-size: 1.5rem;
}

.footer-bottom__payment {
    float: right;
}

.footer-bottom__payment-link img {
    margin-left: 15px;
}


/* ==============Back to stop============ */

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 9999;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
}

.back-to-top img {
    width: 40px;
    height: 40px;
}

.back-to-top:hover {
    opacity: 0.7;
}


/* =============================== */

.arrow-prev,
.arrow-next {
    position: absolute;
    font-size: 3rem;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.arrow-prev {
    top: 40%;
    left: 0;
}

.arrow-next {
    top: 40%;
    right: 0;
}


/* =======================Page Login====================== */

.page-login__input {
    width: 100%;
    height: 40px;
    border: 1px solid #ebebeb;
    outline: none;
    padding: 0 12px;
    border-radius: 2px;
}

.page-login {
    position: relative;
}

.page-login__input:focus {
    border-color: #666;
}

.form-login__group {
    margin-bottom: 30px;
}

.form-login__group:first-child {
    margin-top: 40px;
}

.page-login__heading {
    text-transform: uppercase;
    margin-top: 30px;
}

.page-login__heading::after {
    content: '';
    width: 50px;
    height: 2px;
    background: #333333;
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.page-login__label {
    color: #636363;
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 1.5rem;
}

.page-login__btn {
    font-size: 1.5rem;
    color: var(--white-color);
    background-color: #2a2a2a;
    font-weight: 300;
    padding: 10px 42px;
    border: none;
    outline: none;
}

.page-login__social {
    text-align: center;
}

.page-login__socia-title {
    font-size: 1.6rem;
    color: #636363;
    margin-bottom: 20px;
}

.page-login__social-link-fb,
.page-login__social-link-gg {
    padding: 11px 25px;
    border: 2px;
}

.page-login__social-link-fb {
    background-color: #3b5998;
    color: var(--white-color);
}

.page-login__social-link-gg {
    background-color: #e14b33;
    color: var(--white-color);
    margin-left: 12px;
}

.page-login__social-link-fb:hover,
.page-login__social-link-gg:hover {
    text-decoration: none;
    opacity: 0.9;
    color: var(--white-color);
}

.resister-tablet-mobile {
    display: none;
}

.text-about {
    font-size: 2rem;
}
/* <<<<<<< HEAD
=======

>>>>>>> ab93e4e6afff0c402deadda9e2a62af304b7e895 */
.news__list {
    position: relative;
    margin-bottom: 1.5rem;
}

.news__list label {
    display: inline-block;
    position: absolute;
    bottom: -2px;
    background: #f94e3f;
    padding: 5px 15px;
    color: #fff;
    bottom: 98px;
}

.news__list .news__blog {
    position: absolute;
    bottom: -8px;
    display: block;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.news__list-2 {
    position: relative;
}

.news__list-2 label {
    display: inline-block;
    position: absolute;
    bottom: -5px;
    background: #f94e3f;
    padding: 5px 15px;
    color: #fff;
}

.news__list-2 h3 {
    font-size: 16px;
    color: #111;
    font-weight: 700;
    margin: 5px 0;
    display: inline-block;
}

.news__list-2 p {
    color: #828181;
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0 12px;
}

.news__list-2 a {
    font-style: italic;
    color: #f94e3f;
}

.news__page {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 70px;
    padding-bottom: 0;
    display: inline-block;
    padding-left: 0;
    border-radius: .25rem;
}

.news__page .news__link {
    margin: 2.5px;
    width: 40px;
    background: #333;
    text-align: center;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Arial', sans-serif;
    color: #fff;
    border-radius: 0;
    text-decoration: none;
}

.news__link {
    position: relative;
    float: left;
    padding: .5rem .75rem;
}

.news__item {
    display: inline;
}

.news__page .news__active .news__link {
    background-color: #f94e3f;
    border-color: #f94e3f;
    color: #fff;
    display: block;
}

.news__page .news__item .news__link:hover {
    background-color: #f94e3f;
}

.news__page .news__item.disabled .news__link {
    border: 0;
    display: none;
}

.news__item.disabled .news__link {
    color: #818a91;
    cursor: not-allowed;
    background-color: #fff;
}

.news__item:last-child .news__link {
    border-top-right-radius: .55rem;
    border-bottom-right-radius: .55rem;
}

.news__item:first-child .news__link {
    border-top-right-radius: .55rem;
    border-bottom-right-radius: .55rem;
}

.news__blog-list .news__heading h2 a {
    font-weight: 300;
    font-size: 20px;
}

.news__heading .title-head a {
    line-height: 20px;
    color: #333333;
    text-transform: uppercase;
    text-decoration: none;
}

.title-head::after {
    content: '';
    width: 50px;
    height: 1px;
    background: #333333;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.news__heading {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #363636;
    margin-bottom: 30px;
    background-position: bottom;
    background-repeat: repeat-x;
}

.news__heading .title-head {
    top: 0;
    left: 0;
    display: inline-block;
    margin: 0;
    padding: 5px 0 15px;
    font-size: 18px;
    line-height: 20px;
    color: #333333;
    text-transform: uppercase;
}

.title-head {
    font-weight: 700;
    text-decoration: none;
    position: relative;
}

.news__blog-list .news__list-blog1 {
    margin-bottom: 1.5rem;
}

.news__list-3 h3 {
    color: #111;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.news__list-3 p {
    font-size: 13px;
    line-height: 30px;
    color: #acacac;
}