/* Mobile & Tablet */

@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        height: 80px;
    }
    .header__logo-link img {
        height: 35px;
    }
    .product-item img {
        height: 180px;
    }
    .bottom-header-center__list {
        z-index: 999;
    }
    .bottom-header-center #icon {
        display: block;
        cursor: pointer;
    }
    .bottom-header-center__list {
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        text-align: left;
        transition: all .5s;
    }
    .bottom-header-center__list::before {
        position: absolute;
        font-family: "Font Awesome 6 Free";
        content: "\f00d";
        top: 0;
        right: 0;
        font-size: 3rem;
        color: #fff;
    }
    .bottom-header-center__list.show {
        left: 0;
    }
    .bottom-header-center__link {
        margin-left: 15px;
        color: white;
    }
    .bottom-header-center__item {
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }
    .login-hide {
        display: block;
    }
    .resister-tablet-mobile {
        display: block;
    }
    .page-login__btn {
        margin-top: 20px;
    }
    .page-login__social {
        margin: 20px 0;
    }
    .page-login__label {
        margin-top: 10px;
    }
    .cart-page th {
        font-size: 1.2rem;
    }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 60px;
        margin-left: 10px;
    }
    .product-item__img img {
        height: 180px;
    }
    .product-item__info {
        font-size: 1.1rem;
    }
}


/* Mobile */

@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .header__logo,
    .header__cart {
        width: unset;
    }
    .header__search-checkbox:checked~.header__search {
        display: flex;
    }
    .header__search {
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        z-index: 2;
        height: 40px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        animation: mobileSearchSideIn linear .3s;
        display: none;
    }
    .row {
        margin: 0 2px;
    }
    .header__mobile-search {
        display: block;
    }
    .header__mobile-search-icon {
        margin-left: 32px;
    }
    .header__cart {
        padding: 0 8px;
    }
    .header__cart-text {
        font-size: 1.2rem;
    }
    .product-trend__brand-options a {
        font-size: 1rem;
    }
    .product-list {
        margin-left: 4px;
    }
    .product-heading {
        font-size: 1.3rem;
        background-color: var(--white-color);
    }
    .product-item img {
        height: 100px;
    }
    .product-item__name {
        font-size: 1.2rem;
    }
    .product-item__info {
        padding: 0px 20px 20px;
    }
    .product-item__price-new,
    .product-item__price-old {
        font-size: 1.1rem;
        text-align: left;
        margin-left: 0;
    }
    .product-item__price {
        font-size: 0.9rem;
    }
    .product-item__sales {
        padding: 0 8px;
    }
    .product-item__sales-percent {
        font-size: 1rem;
    }
    .product-item__action a {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 1.2rem;
    }
    .product-trend__brand {
        height: 40px;
        border-top: none;
        border-bottom: 2px solid var(--primary-color);
    }
    .product-trend__brand-title {
        position: relative;
        top: 1px;
        font-size: 1.1rem;
        padding: 0 12px;
    }
    .product-trend__brand-options {
        padding: 0 4px;
        margin: 0;
    }
    .product-trend__brand-options li {
        margin: 0 4px;
        float: right;
        line-height: 40px;
    }
    .product-trend__brand-options a {
        font-size: 1rem;
    }
    .footer-body {
        padding: 0 16px;
    }
    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(80px/2);
        }
        to {
            opacity: 1;
            top: 80px;
        }
    }
    /* Page product */
    .sort-by__options {
        width: 120px;
    }
    .sort-by__options-title {
        font-size: 1.2rem;
    }
    .sort-by__select {
        font-size: 1.1rem;
    }
    .sort-by__title {
        font-size: 1.1rem;
        margin-right: 2px;
    }
    .view-mode__grid,
    .view-mode__list {
        padding: 6px 6px;
        font-size: 1rem;
    }
}


/* product detail */

@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content {
        padding-top: 0;
    }
}