<template>
    <div class="News1">
        <div class="row">
            <div class="col l-12 m-12 c-12">
              <breadcrumb></breadcrumb>
            </div>

            <div class="col m-8">
                <div class="row">
                    <div class="col m-12">
                        <div class="news__list">
                            <img src="~/assets/images/banner/news.png" alt="" srcset="" class = "img-showcase">
                            <label for="">25/10/2021</label>
                            <h3 class="news__blog">Để sử dụng nồi áp suất an toàn hơn</h3>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col m-4">
                <div class="row">
                    <div class="col m-12">
                        <div class="news__list">
                            <img src="~/assets/images/banner/news1.jpg" alt="" srcset="" class = "img-showcase">
                            <label for="">25/10/2021</label>
                            <h3 class="news__blog" style="font-size: 1.4rem;">Những bom tấn sẽ hâm nóng thị trường smartphone đầu năm 2021</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col m-12">
                        <div class="news__list">
                            <img src="~/assets/images/banner/news2.png" alt="" srcset="" class = "img-showcase">
                            <label for="">25/10/2021</label>
                            <h3 class="news__blog" style="font-size: 1.4rem;">Vì sao Điều hòa chạy một lúc rồi tắt?</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l-9">

                <div class="row">
                    <div class="col m-4">
                        <div class="news__list-2">
                            <img src="~/assets/images/banner/news3.png" alt="" class="img-showcase">
                            <label for="">25/10/2021</label>
                        </div>
                    </div>
                    <div class="col m-8" style="line-height: 3.8rem;">
                        <div class="news__list-2">
                            <h3>Lò vi sóng bị nhiễm điện khắc phục như thế nào?</h3>
                            <p> Khi chạm vào lò vi sóng bạn cảm thấy bị diện giật tê tê là lúc này lò vi sóng của gia đình đang bị chạm điện. Tình trạng này nếu như không được sớm khắc phục thì rất nguy hiểm đối với người sử dụng. Có rất nhiều nguyên nhân khiến cho lò vi sóng bị nhiễm điện....</p>
                            <a href="" class="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col m-4">
                        <div class="news__list-2">
                            <img src="~/assets/images/banner/news2.jpg" alt="" class="img-showcase">
                            <label for="">25/10/2021</label>
                        </div>
                    </div>
                    <div class="col m-8" style="line-height: 3.8rem;">
                        <div class="news__list-2">
                            <h3>Lò vi sóng bị nhiễm điện khắc phục như thế nào?</h3>
                            <p> Khi chạm vào lò vi sóng bạn cảm thấy bị diện giật tê tê là lúc này lò vi sóng của gia đình đang bị chạm điện. Tình trạng này nếu như không được sớm khắc phục thì rất nguy hiểm đối với người sử dụng. Có rất nhiều nguyên nhân khiến cho lò vi sóng bị nhiễm điện....</p>
                            <a href="" class="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col m-4">
                        <div class="news__list-2">
                            <img src="~/assets/images/banner/news2.png" alt="" class="img-showcase">
                            <label for="">25/10/2021</label>
                        </div>
                    </div>
                    <div class="col m-8" style="line-height: 3.8rem;">
                        <div class="news__list-2">
                            <h3>Lò vi sóng bị nhiễm điện khắc phục như thế nào?</h3>
                            <p> Khi chạm vào lò vi sóng bạn cảm thấy bị diện giật tê tê là lúc này lò vi sóng của gia đình đang bị chạm điện. Tình trạng này nếu như không được sớm khắc phục thì rất nguy hiểm đối với người sử dụng. Có rất nhiều nguyên nhân khiến cho lò vi sóng bị nhiễm điện....</p>
                            <a href="" class="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col m-4">
                        <div class="news__list-2">
                            <img src="~/assets/images/banner/news5.png" alt="" class="img-showcase">
                            <label for="">25/10/2021</label>
                        </div>
                    </div>
                    <div class="col m-8" style="line-height: 3.8rem;">
                        <div class="news__list-2">
                            <h3>Lò vi sóng bị nhiễm điện khắc phục như thế nào?</h3>
                            <p> Khi chạm vào lò vi sóng bạn cảm thấy bị diện giật tê tê là lúc này lò vi sóng của gia đình đang bị chạm điện. Tình trạng này nếu như không được sớm khắc phục thì rất nguy hiểm đối với người sử dụng. Có rất nhiều nguyên nhân khiến cho lò vi sóng bị nhiễm điện....</p>
                            <a href="" class="">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col m-12">
                    <nav>
                        <ul class = "news__page">
                            <li class = "news__item disabled ">
                                <a href="#" class="news__link">«</a>
                            </li>
                            <li class = "news__active news__item">
                                <a href="#" class="news__link">1</a>
                            </li>
                            <li class = "news__item">
                                <a href="#" class="news__link">2</a>
                            </li>
                            <li class = "news__item">
                                <a href="#" class="news__link">»</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col l-3">
                <div class="news__blog-list">
                    <div class="heading">
                        <h2 class="title-head">
                            <a href="#">Bài viết xem nhiều</a>
                        </h2>
                    </div>
                    <div class="news__list-blog1">
                        <div class="row">
                            <div class="news__img-blog">
                                <img src="~/assets/images/banner/news.png" alt="" class="img-showcase">
                            </div>
                            <div class="news__list-2">
                                <h3>Để sử dụng nồi áp xuất an toàn hơn</h3>
                                <p>25/10/2021</p>
                            </div>
                        </div>
                    </div>
                    <div class="news__list-blog1">
                        <div class="row">
                            <div class="news__img-blog">
                                <img src="~/assets/images/banner/news1.jpg" alt="" class="img-showcase">
                            </div>
                            <div class="news__list-2">
                                <h3>Để sử dụng nồi áp xuất an toàn hơn</h3>
                                <p>25/10/2021</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="news__category">
                    <div class="heading">
                        <h2 class="title-head">
                            <a href="#">Danh Mục Bài Viết</a>
                        </h2>
                    </div>
                    <div class="news__bot-content">
                        <ul class = "news__pages">
                            <li class = "news__item"><a href="#">Laptop</a></li>
                            <li class = "news__item"><a href="#">Màn hình</a></li>
                            <li class = "news__item"><a href="#">Bàn Phím</a></li>
                            <li class = "news__item"><a href="#">Chuột</a></li>
                            <li class = "news__item"><a href="#">Tai Nghe</a></li>
                            <li class = "news__item"><a href="#">Loa</a></li>
                            <li class = "news__item"><a href="#">Ghế Gaming</a></li>
                            <li class = "news__item"><a href="#">Ram</a></li>
                            <li class = "news__item"><a href="#">Card đồ họa</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</template>