<template>
<main role="main" class="homepage-wrap" id="main">
    <div class="container grid wide">
        <Header></Header>            
        <nuxt/>      
    </div>
    <Footer></Footer>
</main>
</template>
<script>
import Header from "~/components/Header.vue";

import Footer from "~/components/Footer.vue";


export default {
  components: {
    Header,
    Footer

  },
}

</script>