<template>
    <div class="">
        <!-- Edits Breadcrumb -->
        <div class="row">
            <div class="col l-12 m-12 c-12">
               <div class="breadcrumb">
                    <a href="" class="breadcrumb__page-parent">Trang Chủ</a>
                        <span>/</span>
                    <a href="" class="breadcrumb__page-child">Giới Thiệu</a>
                </div>
            </div>
        </div>
    <!-- End Breadcrumb -->
    <!-- Section -->
        <div class="row">
            <div class="col l-12 m-12 c-12">
                <h1>GIỚI THIỆU CHUNG VỀ RIVERMAN</h1>
                <p class="text-about">	<b>Riverman</b> chuyên cung cấp các loại Linh Kiện, Phụ Kiện Điện Tử, .... phục vụ mục đích học tập, giải trí, nghiên cứu của 
                    sinh viên, học sinh, người đi làm, hay bất cứ ai quan tâm đến điện tử. Được thành lập với mục đích phát huy thế mạnh liên 
                    kết trong thời đại công nghệ số 4.0. 
                    Với tầm nhìn dài hạn, <b>Riverman</b> tập trung đầu tư vào lĩnh vực Công nghệ thông tin. Trên tinh thần phát triển bền vững và 
                    chuyên nghiệp, <b>Riverman</b> được cơ cấu với các sản phẩm kinh doanh chính gồm: <br>
                    > Laptop & Phụ kiện <br>
                    > Máy tính văn phòng <br>
                    > Máy tính chơi Game <br>
                    > Linh kiện máy tính <br>
                    > Monitor – Màn hình <br>
                    > Gaming Gear & Console <br>
                    > Tản nhiệt – Cooling <br>
                    > Thiết bị văn phòng <br>
                    > Loa và tai nghe <br>
                    > Phụ kiện các loại
                </p>
                <h1>TẦM NHÌN</h1>
                <p class="text-about">
                    <b>Riverman</b> nỗ lực để trở thành một công ty kỹ thuật kiểu mới bằng nỗ lực lao động sáng tạo trong khoa học kỹ thuật và 
                    công nghệ, làm khách hàng hài lòng, đem lại cho mỗi thành viên của mình điều kiện phát triển tài năng tốt nhất và 
                    một cuộc sống đầy đủ về vật chất, phong phú về tinh thần.
                </p>
                <h1>CÁC GIÁ TRỊ CỐT LÕI</h1>
                <p class="text-about">
                <b>Đam mê</b>: Chúng tôi luôn tin rằng Đam mê là chìa khóa quan trọng để mở mọi cánh cửa thành công của công ty. <br>
                <b>Sự chính trực</b>: Chúng tôi luôn thể hiện tính trung thực, đạo đức nghề nghiệp và tính chuyên nghiệp trong mọi việc làm. <br>
                <b>Lòng tận tụy</b>: Sự tận tụy trong công việc và quyết tâm của tập thể công ty giúp chúng tôi đứng vững và khẳng định vị trí trong ngành. <br>
                <b>Dịch vụ khách hàng</b>: Chúng tôi luôn nỗ lực để đáp ứng và thỏa mãn những giá trị cốt lõi đã đề ra, đáp ứng sự kỳ vọng của Khách hàng bằng dịch vụ khách hàng tốt.
                </p>
                <h1>PHƯƠNG CHÂM HOẠT ĐÔNG</h1>
                <p class="text-about">
                    Đối với <b>Riverman</b> sự hài lòng của khách hàng là điều quan trọng nhất. Sự hài lòng này đã được thể hiện rõ nét trong từng sản phẩm và dịch vụ của <b>Riverman</b> cung cấp: Chất lượng cao của sản phẩm, giá cả cạnh tranh, dịch vụ bảo hành, hậu mãi sau bán hàng…luôn được <b>Riverman</b> chú trọng và thay đổi từng ngày để phục vụ nhu cầu của khách hàng.

                    <b>Riverman</b> xây dựng những nguyên tắc chuẩn trong phục vụ khách hàng như sau: <br>
                - Giá cả sản phẩm phải cạnh tranh so với các nhà cung cấp khác.<br>
                - Tư vấn, cung cấp sản phẩm phù hợp với nhu cầu, chi phí của Quý khách.<br>
                - Thực hiện chương trình khuyến mãi định kỳ, tặng phẩm và chính sách chiết khấu giảm giá hấp dẫn.<br>
                - Đáp ứng nhanh chóng, kịp thời nhu cầu thị hiếu của khách hàng.<br>
                - Phương thức thanh toán đa dạng: Tiền mặt, chuyển khoản, bằng thẻ…
                </p>
                <p class="text-about">
                    <b>Riverman</b> luôn không ngừng phấn đấu, nâng cao chất lượng phục vụ, thực hiện chăm sóc khách hàng cùng các chế độ hậu mãi sau bán hàng một cách tốt nhất, mang lại sự an tâm và hài lòng nhất cho quý khách hàng khi đến với <b>Riverman</b>.
                </p>
                <p class="text-about">
                    Sự tận tâm trong công tác phục vụ và chăm sóc khách hàng luôn là phương châm hoạt động của <b>Riverman</b>. Vì vậy, với mong muốn đem lại nhiều niềm vui, sự mới mẽ và bất ngờ cho khách hàng, <b>Riverman</b> tổ chức các chương trình khuyến mãi hấp dẫn hằng tháng, các chương trình bảo hành.
                </p>
                <p class="text-about">
                    Chính sách chất lượng của Công ty là “ Uy tín hàng đầu – Chất lượng đảm bảo” với phương châm “ Cải tiến – Đổi mới không ngừng” trên các lĩnh vực kinh doanh và dịch vụ. Thực hiện đúng những điều đã cam kết với khách hàng là nền tảng cho sự phát triển mang tính chiến lược bền vững của <b>Riverman</b>.
                </p>
            </div>
        </div>
    </div>
    <!-- End Section -->
</template>