<template>
<main role="main" class="homepage-wrap" id="main">
  <div>    
    <Slider></Slider>   
    <ProductTrend></ProductTrend>
    <MidiumBanner></MidiumBanner>
    <ProductFlashSale></ProductFlashSale>
    <HomeProduct></HomeProduct>  
  </div>
  </main>
</template>
<script>
import Container from "~/components/Container.vue";
import Slider from "~/components/Slider.vue";
import MidiumBanner from "~/components/MidiumBanner.vue";
import ProductTrend from "~/components/ProductTrend.vue";
import ProductFlashSale from "~/components/ProductFlashSale.vue";
import HomeProduct from "~/components/HomeProduct.vue";

export default {
  components: {
    Container,
    Slider,
    MidiumBanner,
    ProductTrend,
    ProductFlashSale,
    HomeProduct,
  
  },
}

</script>

